
.b-fmenu{
    padding-top: 78px;
    padding-bottom: 48px;
    @include clearfix();
}

.b-fmenu__col{
    float: left;
    width: 20%;
    margin-right: 2%;
    text-align: left;

    &:nth-child(1){
        width: 21%;
        margin-right: 2%;
    }

    &:nth-child(2){
        width: 16.5%;
    }

    &:nth-child(3){
        width: 26%;
        margin-right: 1%;
    }

    &:nth-child(4){
        width: 19%;
    }

    &:nth-child(5){
        width: 9.5%;
        margin-right: 0;
    }

    &:last-child{
        width: 10%;
    }
}

.b-fmenu__title{
    font-family: $bold;
    line-height: 1;
    color: #4b4d55;
    margin-bottom: 35px;
}

.b-fmenu__i{
    display: block;
    margin-bottom: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    color: #4b4d55 !important;
    text-decoration: none !important;
    @include transition(all .15s ease);

    &:hover{
        color: #222 !important;
    }
}

.b-fmenu__i-big{
    font-family: $bold;
    margin-bottom: 30px;
}

.b-fmenu__btn{
    font-family: $bold;
    -webkit-font-smoothing: antialaised;
    margin-top: 30px;
    padding: 11px 20px 10px;
}

/** bottom footer **/
.b-foo{
    height: 118px;
    overflow: hidden;
}

.b-foo__copy{
    float: left;
    margin-top: 51px;
    font-family: $light;
    color: rgba(255, 255, 255, .8);
}

.b-foo__sharing{
    float: right;
    margin-top: 43px;
    margin-left: 79px;
}

[class^="b-sharing__"]{
    display: inline-block;
    vertical-align: top;
    margin-left: 16px;
    width: 36px;
    height: 36px;
    opacity: .4;
    @include transition(all .15s ease);

    &:hover{
        opacity: .8;
    }
}

.b-sharing__vk{
    background: url(../images/main/icon-share-vk.svg) no-repeat;
}

.b-sharing__fb{
    background: url(../images/main/icon-share-fb.svg) no-repeat;
}

.b-sharing__gp{
    background: url(../images/main/icon-share-gp.svg) no-repeat;
}

.b-sharing__inst{
    position: relative;
    top: 2px;
    width: 32px;
    height: 32px;
    background: url(../images/main/icon-share-inst.svg) no-repeat;
}

.b-foo__email{
    margin: 50px 0 0 81px;
    float: right;
    -webkit-font-smoothing: antialiased;
}

.b-foo__phone{
    margin-top: 43px;
    font-size: 14px;
    font-family: $light;
    float: right;
    color: rgba(255, 255, 255, .4);

    .link-red{
        font-size: 16px;
        font-family: $medium;
        margin-bottom: 6px;
        -webkit-font-smoothing: antialiased;
    }
}

/** state **/
.b-footer_state_light{
    .b-full.type-dark{
        background: #e4e4e4;
    }

    .link-white{
        color: $light-dark !important;

        &:hover{
            border-bottom-color: $light-dark !important;
        }
    }

    .b-foo__phone{
        color: $grey;
    }

    .b-foo__copy{
        color: $light-dark;
    }

    .b-sharing__vk{
        background: url(../images/main/icon-share-vk-b.svg) no-repeat;
    }

    .b-sharing__fb{
        background: url(../images/main/icon-share-fb-b.svg) no-repeat;
    }

    .b-sharing__gp{
        background: url(../images/main/icon-share-gp-b.svg) no-repeat;
    }

    .b-sharing__inst{
        background: url(../images/main/icon-share-inst-b.svg) no-repeat;
    }
}

@media screen and (max-width: $big-screen) {
    .b-fmenu__btn{
        padding: 10px;
        font-size: 14px;
        margin-top: 0;
    }
}

@media screen and (max-width: $middle-screen) {
    .b-fmenu__col:nth-child(1){
        margin-right: 1%;
        width: 24%;
    }

    .b-fmenu__col:nth-child(2){
        width: 19%;
    }

    .b-fmenu__col:nth-child(3){
        width: 30%;
    }

    .b-fmenu__col:nth-child(4){
        width: 23%;
        margin-right: 0;
    }

    .b-fmenu__col:last-child{
        width: 17%;
        margin-top: 40px;
    }
}


@media screen and (max-width: $small-screen) {
    .b-foo__sharing{
        margin-left: 30px;
    }

    [class^="b-sharing__"]{
        margin-left: 10px;
    }

    .b-foo__email{
        margin-left: 40px;
    }

    .b-fmenu{
        text-align: left;

        &:after{
            display: none;
        }
    }

    .b-fmenu__col{
        float: none;
        display: inline-block;
        vertical-align: top;
        margin: 0 30px 30px !important;
        max-width: 400px;
        width: auto !important;
        margin-right: 0 !important;
    }

    .b-fmenu__title{
        margin-bottom: 20px;
    }

    .b-fmenu__i{
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 800px) {
    .b-foo__sharing{
        display: none;
    }
}

@media screen and (max-width: 560px) {
    .b-foo{
        height: auto;
    }

    .b-foo__copy{
        float: none;
        margin-bottom: 30px;
        margin-top: 20px;
    }

    .b-foo__email{
        float: none;
        margin: 30px 0 10px 0;
    }

    .b-foo__phone{
        float: none;
        margin: 0;
    }
}
