
.b-head__help{
    height: 65px;
}

.b-head__fixed{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 65px;
    z-index: 10;
    background-color: #22252e;
    @include transition(all .15s ease);
}

.b-head__toggle{
    display: none;
    position: absolute;
    left: 15px;
    width: 40px;
    height: 40px;
    top: 12px;
    cursor: pointer;
}

.icon-toggle{
    position: absolute;
    top: 18px;
    left: 5px;
    right: 5px;
    height: 3px;
    background: #ffffff;
    display: block;

    &:before,
    &:after{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 3px;
        background: #ffffff;
    }

    &:before{
        top: -8px;
    }

    &:after{
        top: 8px;
    }
}

.b-header__inner{
    @include clearfix();
}

.b-head__logo{
    display: inline-block;
    margin: 24px 53px 0 -33px;
    width: 154px;
    height: 16px;
    background: url(../images/main/icon-logo.svg) no-repeat;
}


.b-head__menu{
    margin-top: 23px;
    display: inline-block;
    vertical-align: top;

    ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li{
        display: inline;
    }

    a{
        display: inline-block;
        margin-right: 48px;
        font-family: $medium;
        color: #ffffff !important;
        text-decoration: none !important;
        @include transition(all .15s ease);
        opacity: .7;
        -webkit-font-smoothing: antialiased;

        &:hover{
            opacity: 1;
        }
    }
}

.b-head__phone{
    float: right;
    display: inline-block;
    margin-top: 26px;
    margin-left: 35px;
    font-family: $medium;
    line-height: 1;
    color: #f05b20 !important;
    text-decoration: none !important;
    border-bottom: 1px solid transparent;
    @include transition(all .15s ease);
    -webkit-font-smoothing: antialiased;

    &:hover{
        border-bottom-color: #f05b20;
    }
}

.b-head__conf{
    margin-top: 13px;
    float: right;
    -webkit-font-smoothing: antialiased;
    padding: 12px 15px 10px;
}

// state
.b-header_state_top{
    .b-head__fixed{
        background: none;
    }

    .b-head__help{
        display: none;
    }
}

.b-header_state_bg{
    .b-head__fixed{
        background: #22252e !important;
    }
}

@media screen and ( max-width: $big-screen){
    .b-head__logo{
        margin-left: 0;
        margin-right: 25px;
        background: none;
        height: 16px;
        width: 36px;
        overflow: hidden;
        position: relative;

        &:after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 154px;
            height: 16px;
            background: url(../images/main/icon-logo.svg) no-repeat;
        }
    }

    .b-head__menu a{
        margin-right: 25px;
    }

    .b-head__phone{
        margin-left: 20px;
    }
}

@media screen and ( max-width: $small-screen) {
    .b-head__menu{
        position: absolute;
        right: 0;
        left: 0;
        top: 65px;
        margin-top: 0;
        background: #22252e;
        opacity: 0;
        visibility: hidden;
        @include transition(all .15s ease);

        a{
            padding: 0 15px;
            display: block;
            opacity: 1;
            height: 50px;
            line-height: 50px;
            margin-right: 0;
            border-top: 1px solid rgba(255, 255, 255, .3);
        }
    }

    .b-head__logo{
        display: none;
    }

    .b-head__toggle{
        display: block;
    }

    .b-head_state_menu{
        .b-head__menu{
            opacity: 1;
            visibility: visible;
        }

        &.b-head__fixed{
            background-color: #22252e;
        }

        .b-head__toggle{
            display: block;
        }
    }
}

@media screen and (max-width: $mob-screen) {
    .b-head__conf{
        display: none;
    }
}