{% extends "default.twig" %}

{% block body_class %}  main-page {% endblock %}

{% block title %}
    Вулкан
{% endblock %}

{% block styles %}{% endblock %}


{% block page %}
    <div class="b-header b-header_state_top" data-header-root>
        {% include "header.twig" %}
    </div>

    <div class="b-promo">
        <div class="b-promo__title">
            Надежные котельные <br/>
            для нашей жизни
        </div>
    </div>

    <div class="b-center b-slider-con">
        <div class="b-slider js-slider">
            <div class="b-slider__i">
                <div class="b-slider__content">
                    <div class="b-slide__title">
                        Модульная котельная
                    </div>
                    <i class="b-slide__img type-vulkan"></i>
                    <div class="b-slide__text">
                        Котельная предназначена для теплоснабжения жилых, общественных и промышленных зданий, административного и сельскохоз назначения, общей отапливаемой площадью до 60000 м2
                    </div>
                    <a class="link-red b-slide__link" href="#">Подробнее о котельной</a>
                </div>
            </div>
            <div class="b-slider__i">
                <div class="b-slider__content">
                    <div class="b-slide__title">
                        Модульная котельная
                    </div>
                    <i class="b-slide__img type-vulkan"></i>
                    <div class="b-slide__text">
                        Котельная предназначена для теплоснабжения жилых, общественных и промышленных зданий, административного и сельскохоз назначения, общей отапливаемой площадью до 60000 м2
                    </div>
                    <a class="link-red b-slide__link" href="#">Подробнее о котельной</a>
                </div>
            </div>
        </div>
        <div class="b-slider-img">
            <div class="b-slider-img__img-1"></div>
            <div class="b-slider-img__img-2"></div>
        </div>
    </div>

    <div class="b-full type-grey">
        <div class="b-price" data-price-root>
            <div class="b-price__part">
                <div class="b-price__title">
                    Рассчитайте необходимую <br/>
                    мощность котельной
                </div>
                <a data-toggle-price class="b-price__btn btn-simple btn-primary" href="#">
                    Рассчитать мощность
                </a>
                <div class="b-price__hint">
                    или заполните <a href="#" class="link-grey">опросный лист</a>
                </div>
            </div>
            <div class="b-price__window">
                <a class="b-price__window-close" data-toggle-price href="#"></a>
                <div class="b-price__title type-grey">
                    Укажите площадь и высоту <br/>
                    помещения
                </div>
                <div class="price-form">
                    <div class="ovh">
                        <div class="price-form__i">
                            <div class="label">
                                Площадь, м2
                            </div>
                            <input class="input-simple price-form__input" type="text"/>
                        </div>
                        <div class="price-form__i">
                            <div class="label">
                                Высота, м
                            </div>
                            <input class="input-simple price-form__input" type="text"/>
                        </div>
                    </div>
                    <a class="price-form__btn btn-simple btn-red" href="#">
                        Рассчитать мощность
                    </a>
                </div>

                <div class="price-result-con">
                    <div class="price-result">
                        <div class="price-result__l">
                            <div class="price-result__power">
                                <div class="inner">
                                    <div class="high">3.65 МВт</div>
                                    <div class="text">
                                        мощность вашей <br/>
                                        котельной
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="price-result__r">
                            <div class="price-result__i">
                                <i class="img"></i>
                                <div class="content">
                                    <div class="title">
                                        Модульные котельные
                                    </div>
                                    <div class="text">
                                        4 МВт
                                    </div>
                                </div>
                            </div>
                            <div class="price-result__i">
                                <i class="img"></i>
                                <div class="content">
                                    <div class="title">
                                        Паровые котельные
                                    </div>
                                    <div class="text">
                                        6 МВт
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="b-price__info">
                    Данный расчет приблизительный. Для более точного расчета заполните
                    <a href="#" class="link-red">опросный лист</a>
                    или позвоните по телефону <span class="high">8 (800) 700-30-02</span>
                </div>
            </div>
        </div>
    </div>

    <div class="b-center" data-id="kot-modul">
        <div class="b-info">
            <i class="b-info__icon"></i>
            <div class="b-info__title">
                Блочно-модульные котельные
            </div>
            <div class="b-info__sub">
                от 0.2 до 100 МВт
            </div>
        </div>
        <div class="b-info__con">
            <div class="b-boiler">
                <div class="b-boiler__img">
                    <div class="img type-1"></div>
                </div>
                <div class="b-boiler__title">
                    Модульные котельные
                </div>
                <div class="b-boiler__text">
                    Котельные поставляются в виде готовых модулей со всеми необходимыми элементами для подключения к инженерным сетям, и монтируются нашими специалистами на территории заказчика.
                </div>
                <div class="b-boiler__info">
                    <div class="b-detail type-el">
                        <div class="b-detail__title">
                            0.2-30 МВт
                        </div>
                        <div class="b-detail__sub">
                            мощность
                            котельной
                        </div>
                        <div class="b-detail__content">
                            <div class="b-detail__subtitle">
                                Используемое
                                топливо
                            </div>
                            <div class="b-detail__i type-gas">
                                газ
                            </div>
                            <div class="b-detail__i type-zgas">
                                сжиженный газ
                            </div>
                            <div class="b-detail__i type-fuel">
                                дизельное
                                топливо
                            </div>
                        </div>
                    </div>

                    <div class="b-detail type-temp">
                        <div class="b-detail__title">
                            до 150 °C
                        </div>
                        <div class="b-detail__sub">
                            температура теплоносителя
                        </div>
                        <div class="b-detail__content">
                            <div class="b-detail__subtitle">
                                Теплоноситель
                            </div>
                            <div class="b-detail__i type-par">
                                пар
                            </div>
                            <div class="b-detail__i type-water">
                                вода
                            </div>
                            <div class="b-detail__i type-masl">
                                масло
                            </div>
                        </div>
                    </div>

                </div>
                <a class="b-boiler__link link-red" href="#">
                    Подробнее
                </a>
            </div>


            <div class="b-boiler">
                <div class="b-boiler__img">
                    <div class="img type-2"></div>
                </div>
                <div class="b-boiler__title">
                    Блочные котельные
                </div>
                <div class="b-boiler__text">
                    Котельные  монтируются  на территории заказчика из заранее изготовленных на производственной площадке узлов. Можно вписать котельную в здание любой формы.
                </div>
                <div class="b-boiler__info">
                    <div class="b-detail type-el">
                        <div class="b-detail__title">
                            0.2-30 МВт
                        </div>
                        <div class="b-detail__sub">
                            мощность
                            котельной
                        </div>
                        <div class="b-detail__content">
                            <div class="b-detail__subtitle">
                                Используемое
                                топливо
                            </div>
                            <div class="b-detail__i type-gas">
                                газ
                            </div>
                            <div class="b-detail__i type-zgas">
                                сжиженный газ
                            </div>
                            <div class="b-detail__i type-fuel">
                                дизельное
                                топливо
                            </div>
                        </div>
                    </div>

                    <div class="b-detail type-temp">
                        <div class="b-detail__title">
                            до 150 °C
                        </div>
                        <div class="b-detail__sub">
                            температура теплоносителя
                        </div>
                        <div class="b-detail__content">
                            <div class="b-detail__subtitle">
                                Теплоноситель
                            </div>
                            <div class="b-detail__i type-par">
                                пар
                            </div>
                            <div class="b-detail__i type-water">
                                вода
                            </div>
                            <div class="b-detail__i type-masl">
                                масло
                            </div>
                        </div>
                    </div>

                </div>
                <a class="b-boiler__link link-red" href="#">
                    Подробнее
                </a>
            </div>
        </div>
    </div>


    <div class="b-full type-grey b-info__grey" data-id="kot-roof">
        <div class="b-info">
            <i class="b-info__icon"></i>
            <div class="b-info__title">
                Крышные котельные
            </div>
            <div class="b-info__sub">
                от 0.2 до 5 МВт
            </div>
        </div>
        <div class="b-info__con">
            <div class="b-boiler">
                <div class="b-boiler__img">
                    <div class="img type-3"></div>
                </div>
                <div class="b-boiler__title">
                    Крышные модульные
                    котельные
                </div>
                <div class="b-boiler__text">
                    Крышная котельная размещается на перекрытии отапливаемого объекта на подготовленном основании. Модульная крышная котельная установка представляет собой модульное здание, которое поставляется на объект строительства в виде одного или нескольких
                    блок-модулей.
                </div>
                <div class="b-boiler__info">
                    <div class="b-detsm">
                        <div class="b-detsm__i type-el">
                            <div class="title">
                                0.2-5 МВт
                            </div>
                            <div class="hint">
                                мощность
                                котельной
                            </div>
                        </div>
                        <div class="b-detsm__i type-temp">
                            <div class="title">
                                до 110 °C
                            </div>
                            <div class="hint">
                                температура теплоносителя
                            </div>
                        </div>
                        <div class="b-detsm__i type-gas">
                            <div class="title">
                                Газ
                            </div>
                            <div class="hint">
                                Используемое
                                топливо
                            </div>
                        </div>
                        <div class="b-detsm__i type-water">
                            <div class="title">
                                Вода
                            </div>
                            <div class="hint">
                                Теплоноситель
                            </div>
                        </div>
                    </div>

                </div>
                <a class="b-boiler__link link-red" href="#">
                    Подробнее
                </a>
            </div>


            <div class="b-boiler">
                <div class="b-boiler__img">
                    <div class="img type-4"></div>
                </div>
                <div class="b-boiler__title">
                    Крышные блочные
                    котельные
                </div>
                <div class="b-boiler__text">
                    Блочная крышная котельная  может быть выполнена в заранее подготовленном здании из
                    железобетонных конструкций и монтируются из заранее изготовленных на производственной
                    площадке узлов. Можно вписать котельную в здание любой формы
                </div>
                <div class="b-boiler__info">
                    <div class="b-detsm">
                        <div class="b-detsm__i type-el">
                            <div class="title">
                                0.2-5 МВт
                            </div>
                            <div class="hint">
                                мощность
                                котельной
                            </div>
                        </div>
                        <div class="b-detsm__i type-temp">
                            <div class="title">
                                до 110 °C
                            </div>
                            <div class="hint">
                                температура теплоносителя
                            </div>
                        </div>
                        <div class="b-detsm__i type-gas">
                            <div class="title">
                                Газ
                            </div>
                            <div class="hint">
                                Используемое
                                топливо
                            </div>
                        </div>
                        <div class="b-detsm__i type-water">
                            <div class="title">
                                Вода
                            </div>
                            <div class="hint">
                                Теплоноситель
                            </div>
                        </div>
                    </div>

                </div>
                <a class="b-boiler__link link-red" href="#">
                    Подробнее
                </a>
            </div>
        </div>
    </div>

    <div class="b-center" data-id="kot-prom">
        <div class="b-info">
            <i class="b-info__icon"></i>
            <div class="b-info__title">
                Промышленные котельные
            </div>
            <div class="b-info__sub">
                от 10 до 500 МВт
            </div>
        </div>
        <div class="b-info__con" data-id="kot-par">
            <div class="b-boiler">
                <div class="b-boiler__img">
                    <div class="img type-5"></div>
                </div>
                <div class="b-boiler__title">
                    Паровые котельные
                </div>
                <div class="b-boiler__text">
                    Котельная предназначена для производства тепловой энергии, её транспортировки в виде перегретого или насыщенного пара. Паровые котельные по большей части имеют промышленное назначение и пар используют в своих производственных нуждах.
                </div>
                <div class="b-boiler__info">
                    <div class="b-detail type-el">
                        <div class="b-detail__title">
                            10-500 МВт
                        </div>
                        <div class="b-detail__sub">
                            мощность
                            котельной
                        </div>
                        <div class="b-detail__content">
                            <div class="b-detail__subtitle">
                                Используемое
                                топливо
                            </div>
                            <div class="b-detail__i type-gas">
                                газ
                            </div>
                            <div class="b-detail__i type-zgas">
                                сжиженный газ
                            </div>
                            <div class="b-detail__i type-fuel">
                                дизельное
                                топливо
                            </div>
                            <div class="b-detail__i type-max">
                                мазут
                            </div>
                            <div class="b-detail__i type-ug">
                                уголь
                            </div>
                        </div>
                    </div>

                    <div class="b-detail type-temp">
                        <div class="b-detail__title">
                            до 150 °C
                        </div>
                        <div class="b-detail__sub">
                            температура теплоносителя
                        </div>
                        <div class="b-detail__content">
                            <div class="b-detail__subtitle">
                                Теплоноситель
                            </div>
                            <div class="b-detail__i type-npar">
                                насыщенный пар
                            </div>
                            <div class="b-detail__i type-ppar">
                                перегретый пар
                            </div>
                        </div>
                    </div>

                </div>
                <a class="b-boiler__link link-red" href="#">
                    Подробнее
                </a>
            </div>

            <div class="b-boiler" data-id="kot-water">
                <div class="b-boiler__img">
                    <div class="img type-6"></div>
                </div>
                <div class="b-boiler__title">
                    Водогрейные котельные
                </div>
                <div class="b-boiler__text">
                    Котельная предназначена для теплоснабжения, горячего водоснабжения и технологических нужд объектов с использованием водогрейного оборудования.
                </div>
                <div class="b-boiler__info">
                    <div class="b-detail type-el">
                        <div class="b-detail__title">
                            10-500 МВт
                        </div>
                        <div class="b-detail__sub">
                            мощность
                            котельной
                        </div>
                        <div class="b-detail__content">
                            <div class="b-detail__subtitle">
                                Используемое
                                топливо
                            </div>
                            <div class="b-detail__i type-gas">
                                газ
                            </div>
                            <div class="b-detail__i type-zgas">
                                сжиженный газ
                            </div>
                            <div class="b-detail__i type-fuel">
                                дизельное
                                топливо
                            </div>
                            <div class="b-detail__i type-max">
                                мазут
                            </div>
                            <div class="b-detail__i type-ug">
                                уголь
                            </div>
                        </div>
                    </div>

                    <div class="b-detail type-temp">
                        <div class="b-detail__title">
                            до 150 °C
                        </div>
                        <div class="b-detail__sub">
                            температура теплоносителя
                        </div>
                        <div class="b-detail__content">
                            <div class="b-detail__subtitle">
                                Теплоноситель
                            </div>
                            <div class="b-detail__i type-nwater">
                                низкотемпературная вода
                            </div>
                            <div class="b-detail__i type-pwater">
                                перегретая вода
                            </div>
                        </div>
                    </div>

                </div>
                <a class="b-boiler__link link-red" href="#">
                    Подробнее
                </a>
            </div>
        </div>
    </div>

    <div class="b-full b-request">
        <div class="b-request__inner">
            <div class="b-request__title">
                Закажите котельную <span class="high">до 1 марта</span> <br/>
                и получите бесплатно:
            </div>
            <div class="b-request__list">
                <div class="b-request__i">
                    технико-экономическое обоснование проекта со сроками окупаемости
                </div>
                <div class="b-request__i">
                    6 месяцев лицензии на систему управления котельной (экономия 300 000 Р)
                </div>
                <div class="b-request__i">
                    5 лет гарантии
                    на работы
                </div>
            </div>

            <a class="btn-simple btn-red b-request__btn" href="mailto:bmk-vulkan@gmail.com">
                <span class="high">ЗАКАЗАТЬ КОТЕЛЬНУЮ</span>
                прямо сейчас
            </a>

            <div class="b-request__hint">
                или позвоните по телефону
                <span class="high">8 (800) 700-30-02</span>
            </div>
        </div>

    </div>

    <div class="b-full">
        <div class="b-clients">
            <div class="b-clients__title">
                Клиенты
            </div>
            <div class="b-clients__text">
                Нашими клиентами стали городские и муниципальные образования Москвы и Брянска, а так же крупные влиятельные организации.
            </div>
            <div class="b-clients__list">
                <div class="b-client__row">
                    <div class="b-client">
                        <div class="b-client__img type-1"></div>
                        <div class="b-tooltip">
                            Федеральное агентство по обустройству государственной границы РФ
                        </div>
                    </div>
                    <div class="b-client">
                        <div class="b-client__img type-2"></div>
                        <div class="b-tooltip">
                            Федеральное агентство по обустройству государственной границы РФ
                        </div>
                    </div>
                    <div class="b-client">
                        <div class="b-client__img type-3"></div>
                        <div class="b-tooltip">
                            Федеральное агентство по обустройству государственной границы РФ
                        </div>
                    </div>
                    <div class="b-client">
                        <div class="b-client__img type-4"></div>
                        <div class="b-tooltip">
                            Федеральное агентство по обустройству государственной границы РФ
                        </div>
                    </div>
                    <div class="b-client">
                        <div class="b-client__img type-5"></div>
                        <div class="b-tooltip">
                            Федеральное агентство по обустройству государственной границы РФ
                        </div>
                    </div>
                    <div class="b-client">
                        <div class="b-client__img type-6"></div>
                        <div class="b-tooltip">
                            Федеральное агентство по обустройству государственной границы РФ
                        </div>
                    </div>

                </div>

                <div class="b-client__row">
                    <div class="b-client">
                        <div class="b-client__img type-7"></div>
                        <div class="b-tooltip">
                            Федеральное агентство по обустройству государственной границы РФ
                        </div>
                    </div>
                    <div class="b-client">
                        <div class="b-client__img type-8"></div>
                        <div class="b-tooltip">
                            Федеральное агентство по обустройству государственной границы РФ
                        </div>
                    </div>
                    <div class="b-client">
                        <div class="b-client__img type-9"></div>
                        <div class="b-tooltip">
                            Федеральное агентство по обустройству государственной границы РФ
                        </div>
                    </div>
                    <div class="b-client">
                        <div class="b-client__img type-10"></div>
                        <div class="b-tooltip">
                            Федеральное агентство по обустройству государственной границы РФ
                        </div>
                    </div>
                    <div class="b-client">
                        <div class="b-client__img type-11"></div>
                        <div class="b-tooltip">
                            Федеральное агентство по обустройству государственной границы РФ
                        </div>
                    </div>
                    <div class="b-client">
                        <div class="b-client__img type-12"></div>
                        <div class="b-tooltip">
                            Федеральное агентство по обустройству государственной границы РФ
                        </div>
                    </div>
                </div>

                <div class="b-client__row">
                    <div class="b-client">
                        <div class="b-client__img type-13"></div>
                        <div class="b-tooltip">
                            Федеральное агентство по обустройству государственной границы РФ
                        </div>
                    </div>
                    <div class="b-client">
                        <div class="b-client__img type-14"></div>
                        <div class="b-tooltip">
                            Федеральное агентство по обустройству государственной границы РФ
                        </div>
                    </div>
                    <div class="b-client">
                        <div class="b-client__img type-15"></div>
                        <div class="b-tooltip">
                            Федеральное агентство по обустройству государственной границы РФ
                        </div>
                    </div>
                    <div class="b-client">
                        <div class="b-client__img type-16"></div>
                        <div class="b-tooltip">
                            Федеральное агентство по обустройству государственной границы РФ
                        </div>
                    </div>

                    <div class="b-client type-empty">
                        &nbsp;
                    </div>
                    <div class="b-client type-empty">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="b-full">
        <div class="b-news">
            <div class="b-news__title">
                События
            </div>
            <div class="b-news__list">
                <div class="b-news__front">
                    <a href="#" class="b-new">
                        <div class="b-new__img"></div>
                        <div class="b-new__title">
                            Газпром нефть заключили соглашение об управлении совместными активами
                        </div>
                        <div class="b-new__text">
                            12 марта 2015
                        </div>
                    </a>
                    <a href="#" class="b-new">
                        <div class="b-new__img"></div>
                        <div class="b-new__title">
                            Транснефть в 2016 году увеличит объем резервуарного парка ...
                        </div>
                        <div class="b-new__text">
                            12 марта 2015
                        </div>
                    </a>
                    <a href="#" class="b-new">
                        <div class="b-new__img"></div>
                        <div class="b-new__title">
                            Компания Infiniti официально презентовала новый кроссовер ...
                        </div>
                        <div class="b-new__text">
                            12 марта 2015
                        </div>
                    </a>
                    <a href="#" class="b-new">
                        <div class="b-new__img"></div>
                        <div class="b-new__title">
                            Станции "Т Плюс" в 2015 сократили выработку электроэнергии на 3,2%, до 56,5 млрд кВт.ч
                        </div>
                        <div class="b-new__text">
                            12 марта 2015
                        </div>
                    </a>
                </div>
                <div class="b-news__bottom">
                    <a href="#" class="b-newsm">
                        <div class="b-newsm__title">
                            Глава Total: американские компании закрыли 2/3 всех буровых вышек в США
                        </div>
                        <div class="b-newsm__date">
                            12 марта 2015
                        </div>
                    </a>
                    <a href="#" class="b-newsm">
                        <div class="b-newsm__title">
                            Глава Total: американские компании закрыли 2/3 всех буровых вышек в США
                        </div>
                        <div class="b-newsm__date">
                            12 марта 2015
                        </div>
                    </a>
                    <a href="#" class="b-newsm">
                        <div class="b-newsm__title">
                            Глава Total: американские компании закрыли 2/3 всех буровых вышек в США
                        </div>
                        <div class="b-newsm__date">
                            12 марта 2015
                        </div>
                    </a>
                    <a href="#" class="b-newsm">
                        <div class="b-newsm__title">
                            Глава Total: американские компании закрыли 2/3 всех буровых вышек в США
                        </div>
                        <div class="b-newsm__date">
                            12 марта 2015
                        </div>
                    </a>
                </div>
            </div>
            <div class="text-center">
                <a class="b-news__link link-red" href="#">
                    Все события
                </a>
            </div>
        </div>
    </div>


    <div class="b-footer b-footer_state_light">
        {% include "footer.twig" %}
    </div>
{% endblock %}
