{% extends "default.twig" %}

{% block body_class %}  main-page {% endblock %}

{% block title %}
    Вулкан
{% endblock %}

{% block styles %}{% endblock %}


{% block page %}
    <div class="b-header" data-header-root>
        {% include "header.twig" %}
    </div>

    <div class="b-center">
        <div class="b-wel">
            <div class="b-wel__content">
                <h1 class="b-wel__title">Вулкан
                </h1>
                <div class="b-wel__descr">
                    Компания по производству энергетических систем различной мощности и видов сложности.
                </div>
                <div class="b-wel__list">
                    <div class="b-wel__i type-year">
                        <div class="title">
                            10 лет
                        </div>
                        <div class="text">
                            На рынке тепло/электро снабжающих систем
                        </div>
                    </div>
                    <div class="b-wel__i type-people">
                        <div class="title">
                            150 человек
                        </div>
                        <div class="text">
                            Каждый аттестованный специалист высокой квалификации
                        </div>
                    </div>
                    <div class="b-wel__i type-object">
                        <div class="title">
                            5 объектов
                        </div>
                        <div class="text">
                            выпускаемых в год
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="b-full type-grey">
        <div class="b-honors-con" data-honor-root>
            <div class="b-honors">
                <i class="b-honors__icon"></i>
                <div class="b-honors__text">
                    Компания получила множество наград благодаря слаженной и профессиональной работе наших специалистов.
                </div>
                <a class="link-red b-honors__link" href="#" data-toggle-honor>
                    Смотреть награды
                </a>
            </div>

            <div class="o-honor">
                <div class="o-honor__part">
                    <div class="o-honor__title">
                        Наши награды
                    </div>
                    <div class="o-honor__list type-nag">
                        <div class="o-honor__item">
                            <i class="o-honor__img type-1"></i>
                            <div class="o-honor__text">
                                15 лет Федеральному управлению по безопасному хранению химического оружия
                            </div>
                        </div>
                        <div class="o-honor__item">
                            <i class="o-honor__img type-2"></i>
                            <div class="o-honor__text">
                                За вклад химическое разоружение
                            </div>
                        </div>
                        <div class="o-honor__item">
                            <i class="o-honor__img type-3"></i>
                            <div class="o-honor__text">
                                За содружество в области химического разоружения
                            </div>
                        </div>

                        <div class="o-honor__item">
                            <i class="o-honor__img type-4"></i>
                            <div class="o-honor__text">
                                За заслуги в уничтожении химического оружия
                                2ой степени
                            </div>
                        </div>
                        <div class="o-honor__item">
                            <i class="o-honor__img  type-5"></i>
                            <div class="o-honor__text">
                                За выдающиеся заслуги и личный вклад в области химического разоружения
                            </div>
                        </div>
                        <div class="o-honor__item">
                            <i class="o-honor__img  type-6"></i>
                            <div class="o-honor__text">
                                За заслуги в уничтожении химического оружия
                                1ой степени
                            </div>
                        </div>
                    </div>
                </div>
                <div class="o-honor__part">
                    <div class="o-honor__title type-dost">
                        Достижения
                    </div>
                    <div class="o-honor__list type-dost">
                        <div class="o-honor__bl">
                            <i class="o-honor__round type-1"></i>
                            <div class="o-honor__content">
                                Компания включена в реестр организаций активно работающих с Оборонно- промышленным комплексом России и министерством обороны
                            </div>
                        </div>
                        <div class="o-honor__bl">
                            <i class="o-honor__round type-2"></i>
                            <div class="o-honor__content">
                                Котельные  для обеспечения теплоснабжением производств по изготовлению деталей самолетов. Заказчик ЗАО «Аэрокомпозит» подразделение ОАО «ОКБ  Сухого»
                            </div>
                        </div>
                        <div class="o-honor__bl">
                            <i class="o-honor__round type-3"></i>
                            <div class="o-honor__content">
                                Участвуем в программе Московской области «Развитие жилищно-коммунального хозяйства на 2014-2018 годы»
                            </div>
                        </div>
                        <div class="o-honor__bl">
                            <i class="o-honor__round type-4"></i>
                            <div class="o-honor__content">
                                Принимали участие в строительстве олимпийских объектов
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="b-full">
        <div class="b-part">
            <i class="b-part__icon"></i>
            <div class="b-part__title">
                Проектно-конструкторское <br/>
                подразделение
            </div>
            <div class="b-part__text">
                Осуществляет подготовку предпроектной документации, проектирование объектов энергетики, разработку документации по техническому перевооружению опасных энергетических и производственных объектов.
            </div>
        </div>
    </div>

    <div class="b-full">
        <div class="b-part-img type-1" ></div>
    </div>

    <div class="b-full">
        <div class="b-part">
            <i class="b-part__icon"></i>
            <div class="b-part__title">
                Производственное <br/>
                подразделение
            </div>
            <div class="b-part__text">
                Находится в новых цехах оснащенных самым современным оборудованием. Мощность производства позволяет собирать единовременно до 14 комплексов. Минимальные сроки производства и самый качественный продукт на выходе.
            </div>
        </div>
    </div>

    <div class="b-full">
        <div class="b-part-img type-2" ></div>
    </div>

    <div class="b-full">
        <div class="b-part">
            <i class="b-part__icon"></i>
            <div class="b-part__title">
                Монтажное подразделение
            </div>
            <div class="b-part__text">
                Предоставляет полный комплекс услуг по монтажу энергетических систем непосредственно на территории Заказчика.
            </div>
        </div>
    </div>

    <div class="b-full">
        <div class="b-part-img type-3" ></div>
    </div>

    <div class="b-full">
        <div class="b-part">
            <i class="b-part__icon"></i>
            <div class="b-part__title">
                Сервисное подразделение
            </div>
            <div class="b-part__text">
                Комплексное техническое обслуживание наших систем в целях обеспечения надежной и безаварийной работы.
            </div>
        </div>
    </div>

    <div class="b-full">
        <div class="b-part-img type-4" ></div>
    </div>

    <div class="b-full">
        <div class="b-part">
            <i class="b-part__icon"></i>
            <div class="b-part__title">
                Производство щитового <br/>
                оборудования
            </div>
            <div class="b-part__text">
                В наших системах используются шкафы автоматики собственного производства
                <br/> <br/>
                При производстве шкафов используются только самые качественные комплектующие для обеспечения бесперебойной и безаварийной и долговечной работы энергосистем.
            </div>

            <div class="b-part__list">
                <div class="b-partitem">
                    <div class="b-partitem__img"></div>
                    <div class="b-partitem__content">
                        <div class="b-partitem__logo type-loga"></div>
                        <div class="b-partitem__title">
                            Силовая автоматика
                        </div>
                        <div class="b-partitem__text">
                            Сложное технологическое оборудование обеспечивает бесперебойную
                        </div>
                    </div>

                </div>
                <div class="b-partitem">
                    <div class="b-partitem__img"></div>
                    <div class="b-partitem__content">
                        <div class="b-partitem__logo type-power"></div>
                        <div class="b-partitem__title">
                            Системы управления
                        </div>
                        <div class="b-partitem__text">
                            Сложное технологическое оборудование обеспечивает бесперебойную
                        </div>
                    </div>

                </div>
                <div class="b-partitem">
                    <div class="b-partitem__img"></div>
                    <div class="b-partitem__content">
                        <div class="b-partitem__logo type-pump"></div>
                        <div class="b-partitem__title">
                            Насосная автоматика
                        </div>
                        <div class="b-partitem__text">
                            Сложное технологическое оборудование обеспечивает бесперебойную
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="b-full type-grey b-feedback-con">
        <div class="b-feedback">
            <div class="b-feedback__title">
                Напишите если у вас <br/>
                остались вопросы
            </div>
            <a class="btn-simple btn-primary b-feedback__btn" href="mailto:bmk-vulkan@gmail.com">
                Написать
            </a>

            <div class="b-feedback__hint">
                или позвоните по телефону <br/>
                8 (800) 700-30-02
            </div>
        </div>
    </div>

    <div class="b-full b-contacts-con js-map">
        <div class="b-contacts">
            <div class="b-contacts__title">
                Контакты
            </div>
            <div class="b-contacts__content">
                <div class="b-adress">
                    <div class="b-adress__tabs">
                        <div class="b-adress__link selected" data-map-target="#map-1">
                            <span class="title">
                                Центральный офис
                            </span>
                            <span class="text">
                                Брянск, проспект Московский, 146 <br/>
                                тел +7 (4832) 74-76- 74, факс +7 (4832) 74-72- 30 <br/>
                                <a class="link-red" href="mailto:sale@bmk-vulkan.ru">sale@bmk-vulkan.ru</a>
                            </span>
                        </div>
                        <div class="b-adress__link"  data-map-target="#map-2">
                            <span class="title">
                                Московский офис
                            </span>
                            <span class="text">
                                Москва, ул. Киевская д. 3-7 <br/>
                                (495) 774-32- 22 <br/>
                                <a class="link-red" href="mailto:sale@bmk-vulkan.ru">sale@bmk-vulkan.ru</a>
                            </span>
                        </div>
                        <div class="b-adress__link"  data-map-target="#map-3">
                            <span class="title">
                                Производство
                            </span>
                            <span class="text">
                                Брянск, проспект Московский, 10 А <br/>
                                тел +7 (4832) 67-68-72, <br/>
                                <a class="link-red" href="mailto:sale@bmk-vulkan.ru">sale@bmk-vulkan.ru</a>
                            </span>
                        </div>
                    </div>
                    <div class="b-adress__map" data-map-control>
                        <div class="b-adress__map-item-3" id="map-3" data-map-item></div>
                        <div class="b-adress__map-item-2" id="map-2" data-map-item></div>
                        <div class="b-adress__map-item-1" id="map-1" data-map-item></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="b-footer">
        {% include "footer.twig" %}
    </div>
{% endblock %}
