
/** clients **/
.b-clients{
    padding-top: 87px;
    max-width: 1105px;
    padding-bottom: 27px;
    margin: 0 auto 84px;
    border-bottom: 1px solid #e5e5e5;
}

.b-clients__title{
    margin-bottom: 26px;
    font-family: $light;
    font-size: 48px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -2px;
}

.b-clients__text{
    max-width: 575px;
    color: $light-dark;
    line-height: 1.625;
    margin-bottom: 91px;
}

.b-clients__list{
    margin-right: 50px;
}

.b-client__row{
    text-align: justify;

    &:after{
        content: '';
        display: inline-block;
        width: 100%;
        vertical-align: top;
        overflow: hidden;
        height: 0;
        visibility: hidden;
    }
}

.b-client{
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 50px;
    margin-bottom: 75px;
    position: relative;
    text-align: left;

    .b-tooltip{
        position: absolute;
        bottom: 77px;
        left: -67px;
        @include transition(all .15s ease);
        opacity: 0;
        visibility: hidden;
        @include transform(translate(0, -5px));
    }
}

.b-client__img{
    position: absolute;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    @include transition(all .15s ease);
    cursor: pointer;

    &:hover{
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }

    &:hover + .b-tooltip{
        opacity: 1;
        visibility: visible;
        @include transform(translate(0, 0));
    }

    &.type-1{
        left: 0;
        top: 0;
        width: 51px;
        height: 59px;
        background: url(../images/clients/client_1.png) no-repeat;
    }

    &.type-2{
        left: -8px;
        top: -5px;
        width: 59px;
        height: 63px;
        background: url(../images/clients/client_2.png) no-repeat;
    }

    &.type-3{
        left: -4px;
        top: -10px;
        width: 53px;
        height: 66px;
        background: url(../images/clients/client_3.png) no-repeat;
    }

    &.type-4{
        left: -29px;
        top: -9px;
        width: 100px;
        height: 70px;
        background: url(../images/clients/client_4.png) no-repeat;
    }

    &.type-5{
        left: -35px;
        top: -10px;
        width: 109px;
        height: 70px;
        background: url(../images/clients/client_5.png) no-repeat;
    }

    &.type-6{
        left: -38px;
        top: -9px;
        width: 115px;
        height: 72px;
        background: url(../images/clients/client_6.png) no-repeat;
    }

    &.type-7{
        left: -6px;
        top: 0;
        width: 63px;
        height: 64px;
        background: url(../images/clients/client_7.png) no-repeat;
    }

    &.type-8{
        left: -20px;
        top: -4px;
        width: 83px;
        height: 72px;
        background: url(../images/clients/client_8.png) no-repeat;
    }

    &.type-9{
        left: -53px;
        top: 6px;
        width: 150px;
        height: 43px;
        background: url(../images/clients/client_9.png) no-repeat;
    }

    &.type-10{
        left: -18px;
        top: -5px;
        width: 77px;
        height: 75px;
        background: url(../images/clients/client_10.png) no-repeat;
    }

    &.type-11{
        left: -58px;
        top: 7px;
        width: 144px;
        height: 47px;
        background: url(../images/clients/client_11.png) no-repeat;
    }

    &.type-12{
        left: -53px;
        top: 6px;
        width: 149px;
        height: 44px;
        background: url(../images/clients/client_12.png) no-repeat;
    }

    &.type-13{
        left: -7px;
        top: -2px;
        width: 63px;
        height: 69px;
        background: url(../images/clients/client_13.png) no-repeat;
    }

    &.type-14{
        left: -20px;
        top: 4px;
        width: 93px;
        height: 56px;
        background: url(../images/clients/client_14.png) no-repeat;
    }

    &.type-15{
        left: -39px;
        top: 16px;
        width: 125px;
        height: 35px;
        background: url(../images/clients/client_15.png) no-repeat;
    }

    &.type-16{
        left: -7px;
        top: 3px;
        width: 52px;
        height: 66px;
        background: url(../images/clients/client_16.png) no-repeat;
    }
}

@media screen and ( max-width: $big-screen) {
    .b-clients{
        padding-right: 30px;
        padding-left: 30px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: $middle-screen) {
    .b-clients{
        padding-top: 70px;
    }

    .b-clients__title{
        font-size: 42px;
        margin-bottom: 22px;
    }

    .b-clients__text{
        margin-bottom: 80px;
    }
}

@media screen and (max-width: $small-screen) {
    .b-clients{
        padding-top: 50px;
        padding-bottom: 20px;
        margin-bottom: 50px;
    }

    .b-client{
        margin-bottom: 50px;
    }

    .b-clients__text{
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 870px) {
    .b-client:nth-child(6){
        display: none;
    }
}

@media screen and (max-width: $tab-screen) {
    .b-client:nth-child(5){
        display: none;
    }
}

@media screen and (max-width: 560px) {
    .b-client__row{
        text-align: center;

        &:after{
            display: none;
        }
    }

    .b-clients__list{
        margin-right: 0;
    }

    .b-client{
        display: inline-block !important;
        margin-right: 50px;
        margin-left: 50px;
        vertical-align: top;

        &.type-empty{
            display: none !important;
        }
    }
}

@media screen and (max-width: $mob-screen) {
    .b-client {
        margin-right: 40px;
        margin-left: 40px;
    }
}
