
/** info **/
.b-info{
    padding-top: 73px;
}

.b-info__icon{
    display: block;
    margin: 0 auto 32px;
    width: 89px;
    height: 89px;
    background: url(../images/boiler/icon-info.svg) no-repeat;
}

.b-info__title{
    margin-bottom: 10px;
    font-size: 64px;
    line-height: 1;
    font-family: $regular;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -1px;
}

.b-info__sub{
    font-size: 36px;
    line-height: 1;
    font-family: $light;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 40px;
    text-align: center;
    color: $red;
    letter-spacing: -1px;
}

.b-info__con{
    max-width: 867px;
    text-align: justify;
    margin: 77px auto 0;
    padding-bottom: 75px;

    &:after{
        content: '';
        display: inline-block;
        vertical-align: top;
        width: 100%;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }
}

.b-boiler{
    text-align: left;
    display: inline-block;
    vertical-align: top;
    width: 40%;
}

.b-boiler__img{
    height: 314px;
    margin-bottom: 20px;
    position: relative;

    .img{
        position: absolute;
        left: 0;
    }

    .type-1{
        left: -22px;
        top: -4px;
        width: 405px;
        height: 283px;
        background: url(../images/boiler/boiler-1.png) no-repeat;
    }

    .type-2{
        left: -31px;
        top: 6px;
        width: 378px;
        height: 288px;
        background: url(../images/boiler/boiler-2.png) no-repeat;
    }

    .type-3{
        left: -36px;
        top: -42px;
        width: 412px;
        height: 336px;
        background: url(../images/boiler/boiler-3.png) no-repeat;
    }

    .type-4{
        left: -17px;
        top: -41px;
        width: 388px;
        height: 342px;
        background: url(../images/boiler/boiler-4.png) no-repeat;
    }

    .type-5{
        left: -16px;
        top: 27px;
        width: 383px;
        height: 257px;
        background: url(../images/boiler/boiler-5.png) no-repeat;
    }

    .type-6{
        left: -10px;
        top: 38px;
        width: 384px;
        height: 246px;
        background: url(../images/boiler/boiler-6.png) no-repeat;
    }
}

.b-boiler__title{
    font-size: 28px;
    line-height: 1.214;
    font-family: $medium;
    margin-bottom: 24px;
}

.b-boiler__text{
    line-height: 1.625;
    font-family: $light;
    margin-bottom: 34px;
    color: $light-dark;
}


/* info detail */
.b-boiler__info{
    text-align: justify;
    margin-bottom: 10px;

    &:after{
        content: '';
        display: inline-block;
        width: 100%;
        height: 0;
        visibility: hidden;
        overflow: hidden;
    }
}

.b-detail{
    display: inline-block;
    vertical-align: top;
    width: 40%;
    padding-top: 67px;
    position: relative;

    &:before{
        content: '';
        position: absolute;
    }

    &.type-el:before{
        width: 38px;
        height: 50px;
        background: url(../images/info/icon-el.svg) no-repeat;
        left: 0;
        top: 0;
    }

    &.type-temp:before{
        width: 24px;
        height: 47px;
        background: url(../images/info/icon-temp.svg) no-repeat;
        left: 0;
        top: 0;
    }
}

.b-detail__title{
    margin-bottom: 5px;
    font-size: 28px;
    line-height: 1;
    font-family: $light;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -2px;
    white-space: nowrap;
}

.b-detail__sub{
    line-height: 1.125;
    color: $grey;
    min-height: 50px;
    padding-bottom: 18px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 36px;
}

.b-detail__subtitle{
    min-height: 36px;
    margin-bottom: 22px;
    color: $light-dark;
    line-height: 1.125;
    font-family: $light;
}

.b-detail__i{
    position: relative;
    margin-bottom: 20px;
    padding-left: 35px;
    color: $grey;

    &:before{
        content: '';
        position: absolute;
    }

    &.type-gas:before{
        left: 0;
        top: 1px;
        width: 15px;
        height: 23px;
        background: url(../images/info/icon-gas.svg) no-repeat;
    }

    &.type-zgas:before{
        left: 0;
        top: 0;
        width: 15px;
        height: 21px;
        background: url(../images/info/icon-zgas.svg) no-repeat;
    }

    &.type-fuel:before{
        left: 0;
        top: 2px;
        width: 17px;
        height: 19px;
        background: url(../images/info/icon-fuel.svg) no-repeat;
    }

    &.type-par:before{
        left: -1px;
        top: 4px;
        width: 21px;
        height: 14px;
        background: url(../images/info/icon-par.svg) no-repeat;
    }

    &.type-water:before{
        left: 1px;
        top: 0;
        width: 16px;
        height: 22px;
        background: url(../images/info/icon-water.svg) no-repeat;
    }

    &.type-masl:before{
        left: -4px;
        top: 3px;
        width: 28px;
        height: 15px;
        background: url(../images/info/icon-masl.svg) no-repeat;
    }

    &.type-max:before{
        left: 0;
        top: 0;
        width: 16px;
        height: 22px;
        background: url(../images/info/icon-mazut.svg) no-repeat;
    }

    &.type-ug:before{
        left: 0;
        top: 0;
        width: 18px;
        height: 20px;
        background: url(../images/info/icon-ug.svg) no-repeat;
    }

    &.type-npar:before{
        left: 0;
        top: 0;
        width: 21px;
        height: 14px;
        background: url(../images/info/icon-npar.svg) no-repeat;
    }

    &.type-ppar:before{
        left: 0;
        top: 0;
        width: 26px;
        height: 19px;
        background: url(../images/info/icon-ppar.svg) no-repeat;
    }

    &.type-nwater:before{
        left: 0;
        top: 0;
        width: 22px;
        height: 22px;
        background: url(../images/info/icon-nwater.svg) no-repeat;
    }

    &.type-pwater:before{
        left: 0;
        top: 0;
        width: 22px;
        height: 24px;
        background: url(../images/info/icon-pwater.svg) no-repeat;
    }
}

.b-boiler__link{
    font-family: $light;
    font-size: 18px;
    position: relative;

    &:before{
        content: '';
        position: absolute;
        right: -20px;
        top: 3px;
        width: 8px;
        height: 12px;
        background: url(../images/boiler/icon-arrow.svg) no-repeat;
    }
}

.b-detsm{
    text-align: justify;
    margin-top: 49px;
    margin-bottom: -26px;

    &:after{
        content: '';
        display: inline-block;
        width: 100%;
        overflow: hidden;
        visibility: hidden;
        height: 0;
    }
}

.b-detsm__i{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 45%;
    padding-left: 45px;
    box-sizing: border-box;
    min-height: 60px;
    margin-bottom: 42px;

    &:before{
        content: '';
        position: absolute;
    }

    &.type-el:before{
        left: -3px;
        top: -14px;
        width: 38px;
        height: 50px;
        background: url(../images/info/icon-el.svg) no-repeat;
    }

    &.type-temp:before{
        left: 6px;
        top: -9px;
        width: 24px;
        height: 47px;
        background: url(../images/info/icon-temp.svg) no-repeat;
    }

    &.type-gas:before{
        left: 0;
        top: -13px;
        width: 32px;
        height: 46px;
        background: url(../images/info/icon-gas-big.svg) no-repeat;
    }

    &.type-water:before{
        left: 1px;
        top: -8px;
        width: 32px;
        height: 42px;
        background: url(../images/info/icon-water-big.svg) no-repeat;
    }

    .title{
        margin-bottom: 6px;
        font-size: 24px;
        line-height: 1;
        font-family: $light;
        -webkit-font-smoothing: antialiased;
        letter-spacing: -1px;
    }

    .hint{
        color: $grey;
        line-height: 1.125;
        font-family: $light;
    }
}



@media screen and ( max-width: $big-screen) {
    .b-info__grey{
        padding-right: 15px;
        padding-left: 15px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: $middle-screen) {
    .b-info {
        padding-top: 70px;
    }

    .b-info__con{
        padding-bottom: 70px;
    }

    .b-info__icon{
        width: 75px;
        height: 75px;
    }

    .b-info__title{
        font-size: 56px;
    }

    .b-info__sub{
        font-size: 31px;
        margin-bottom: 30px;
    }

    .b-boiler__title{
        font-size: 24px;
        margin-bottom: 10px;
    }

    .b-detail__title{
        font-size: 24px;
        letter-spacing: -1px;
    }


    .b-detail__sub{
        padding-bottom: 15px;
        margin-bottom: 30px;
    }

    .b-detsm__i .title{
        font-size: 21px;
        text-align: left;
        white-space: nowrap;
    }

    .b-boiler__link{
        font-size: 15px;
    }
}

@media screen and (max-width: $small-screen) {
    .b-info {
        padding-top: 50px;
    }

    .b-info__con{
        padding-bottom: 50px;
        margin-top: 40px;
        max-width: 660px;
    }

    .b-info__icon{
        width: 50px;
        height: 50px;
    }

    .b-info__title{
        font-size: 48px;
    }

    .b-boiler{
        width: 44%;
    }

    .b-boiler__img{
        height: 254px;

        .img{
            -webkit-background-size: cover;
            background-size: cover;
        }

        .type-1{
            width: 290px;
            height: 202px;
            left: 0;
            top: 30px;
        }

        .type-2{
            width: 274px;
            height: 206px;
            left: 0;
            top: 30px;
        }

        .type-3{
            width: 261px;
            height: 233px;
            left: 0;
            top: 0;
        }

        .type-4{
            width: 290px;
            height: 253px;
            left: 0;
            top: 0;
        }

        .type-5{
            left: 0;
            top: 50px;
            width: 280px;
            height: 186px;
        }

        .type-6{
            width: 280px;
            height: 180px;
            left: 0;
            top: 50px;
        }
    }

    .b-detail{
        width: 44%;
    }
}

@media screen and (max-width: $tab-screen) {
    .b-info__icon{
        width: 35px;
        height: 35px;
        margin-bottom: 15px;
    }

    .b-info__title{
        font-size: 36px;
    }

    .b-info__con{
        text-align: center;
        max-width: 450px;
        margin: 0 auto;

        &:after{
            display: none;
        }
    }

    .b-boiler{
        width: auto;
        margin-bottom: 50px;

        &:last-child{
            margin-bottom: 0;
        }
    }

    .b-boiler__img{
        height: auto;

        .img{
            position: static;
        }
    }

    .b-boiler__info{
        margin-bottom: -25px;
    }

    .b-detail{
        padding-top: 60px;
        margin-bottom: 25px;
    }

    .b-detail__sub{
        min-height: 35px;
    }

    .b-detail__i{
        margin-bottom: 14px;
    }

    .b-detail__subtitle{
        min-height: 0;
        margin-bottom: 15px;
    }

    .b-detsm{
        margin-top: 0;
    }

    .b-detsm__i{
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 540px) {
    .b-boiler__info{
        text-align: left;
        margin-bottom: 0;

        &:after{
            display: none;
        }
    }

    .b-detail{
        display: block;
        width: auto;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
    }

    .b-detail__sub{
        border-bottom: none;
        min-height: 0;
        padding-bottom: 0;
    }

    .b-detsm{
        text-align: left;
        margin-bottom: 0;

        &:after{
            display: none;
        }
    }

    .b-detsm__i{
        display: block;
        width: auto;
        min-height: 0;
    }
}
