
/** news **/
.b-news{
    max-width: 1105px;
    margin: 0 auto;
    padding-bottom: 80px;
}

.b-news__title{
    font-size: 48px;
    line-height: 1.08;
    font-family: $light;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 44px;
    letter-spacing: -2px;
}

.b-news__front{
    position: relative;
    margin-bottom: 60px;
    height: 364px;
}

.b-new:nth-child(1){
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 46%;
    text-decoration: none !important;

    .b-new__img{
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: 50% 50%;
        background-color: #ccc;

        &:after{
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(137, 147, 184, .3);
        }
    }

    .b-new__text{
        position: absolute;
        bottom: 9px;
        left: 26px;
        color: rgba(255,255,255, .4) !important;
        font-family: $light;
    }

    .b-new__title{
        position: absolute;
        left: 26px;
        bottom: 43px;
        right: 50px;
        font-size: 28px;
        line-height: 1.214;
        font-family: $medium;
        color: #ffffff !important;
    }
}

.b-new:nth-child(2),
.b-new:nth-child(3){
    position: absolute;
    left: 50.5%;
    width: 25%;
    text-decoration: none !important;

    .b-new__img{
        height: 91px;
        width: 50%;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: 50% 50%;
        background-color: #ccc;
        margin-bottom: 8px;
    }

    .b-new__title{
        margin-bottom: 5px;
        line-height: 1.625;
        max-height: 47px;
        overflow: hidden;
        color: $light-dark !important;
    }

    .b-new__text{
        line-height: 1.625;
        color: $grey;
    }
}

.b-new:nth-child(2){
    top: 0;
}

.b-new:nth-child(3){
    top: 195px;
}

.b-new:nth-child(4){
    position: absolute;
    left: 77.5%;
    right: 0;
    top: 0;
    bottom: 0;
    font-family: $light;

    .b-new__img{
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: 50% 50%;
        background-color: #ccc;

        &:after{
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(109, 115, 143, .7);
        }
    }

    .b-new__text{
        position: absolute;
        bottom: 27px;
        left: 25px;
        color: rgba(255, 255, 255, 0.7) !important;
    }

    .b-new__title{
        position: absolute;
        left: 25px;
        bottom: 50px;
        right: 20px;
        font-size: 16px;
        line-height: 1.625;
        color: #ffffff !important;
    }
}

.b-news__bottom{
    margin-bottom: 22px;
    @include clearfix();
}

.b-newsm{
    float: left;
    width: 22.3%;
    margin-right: 3%;
    text-decoration: none !important;
    color: #22252e;
    @include transition(all .15s ease);

    &:hover{
        opacity: .9;
    }

    &:last-child{
        margin-right: 0;
        margin-left: 1.7%;
    }
}

.b-newsm__title{
    margin-bottom: 5px;
    line-height: 1.625;
    font-family: $light;
}

.b-newsm__date{
    position: relative;
    padding-left: 25px;
    color: $grey;
    line-height: 1;

    &:before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 17px;
        background: url(../images/boiler/icon-date.svg) no-repeat;
    }
}

.b-news__link{
    margin-right: 60px;
    margin-top: 50px;
    font-size: 18px;
    position: relative;

    &:after{
        content: '';
        position: absolute;
        right: -25px;
        top: 5px;
        width: 8px;
        height: 12px;
        background: url(../images/boiler/icon-arrow.svg) no-repeat;
    }
}

@media screen and ( max-width: $big-screen) {
    .b-news{
        padding-right: 30px;
        padding-left: 30px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: $middle-screen) {
    .b-news{
        padding-bottom: 50px;
    }

    .b-news__title{
        font-size: 42px;
        margin-bottom: 22px;
    }

    .b-new:nth-child(1) .b-new__title{
        font-size: 24px;
    }

    .b-new:nth-child(4) .b-new__title{
        font-size: 14px;
    }

    .b-news__link{
        font-size: 15px;
        margin-top: 0;
    }
}

@media screen and (max-width: $small-screen) {
    .b-full .b-news__front{
        overflow: hidden;
        height: auto;
        margin-bottom: 40px;

        .b-new{
            display: block;
            position: static !important;
            float: left;
            width: 22.3% !important;
            margin-right: 3% !important;
            text-decoration: none !important;
            color: $dark !important;
            font-family: $regular;

            &:last-child{
                margin-right: 0 !important;
            }
        }

        .b-new__img{
            position: static !important;
            height: 91px !important;
            width: 50% !important;
            margin-bottom: 8px;
        }

        .b-new__title{
            position: static !important;
            margin-bottom: 5px !important;
            font-size: 14px !important;
            line-height: 1.625 !important;
            color: $dark !important;
            font-family: $regular;
        }

        .b-new__text{
            position: relative;
            top: 0;
            left: 0;
            padding-left: 25px;
            color: rgba(0, 0, 0, 0.4) !important;
            line-height: 1;

            &:before{
                content: '';
                position: absolute;
                left: 0;
                top: -3px;
                width: 18px;
                height: 17px;
                background: url(../images/boiler/icon-date.svg) no-repeat;
            }
        }
    }

    .b-newsm:last-child{
        margin-left: 0;
    }
}

@media screen and (max-width: 900px) {
    .b-full .b-news__front{
        margin-bottom: 0;

        .b-new{
            width: 45% !important;
            margin-right: 10% !important;
            margin-bottom: 40px;

            &:nth-child(2n+2){
                margin-right: 0 !important;
            }
        }
    }

    .b-news__bottom .b-newsm{
        width: 45%;
        margin-right: 10%;
        margin-bottom: 40px;

        &:nth-child(2n+2){
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 560px) {
    .b-full .b-news__front  .b-new{
        width: auto !important;
        margin-right: 0 !important;
    }

    .b-news__bottom .b-newsm{
        width: auto;
        margin-right: 0;
        margin-bottom: 40px;

        &:nth-child(2n+2){
            margin-right: 0;
        }
    }
}