
/** price **/
.b-price{
    padding-top: 63px;
    padding-bottom: 60px;
    text-align: center;
}

.b-price__part{
    font-family: $light;
}

.b-price__title{
    font-size: 28px;
    line-height: 1.214;
    margin-bottom: 23px;

    &.type-grey{
        margin-bottom: 39px;
        color: rgba(0,0,0, .4);
        -webkit-font-smoothing: antialiased;
    }
}

.b-price__btn{
    position: relative;
    font-size: 18px;
    font-family: $medium;
    padding: 17px 20px 15px 50px;
    line-height: 1;

    &:before{
        content: '';
        position: absolute;
        left: 18px;
        top: 16px;
        width: 18px;
        height: 22px;
        background: url(../images/boiler/icon-calc.svg) no-repeat;
    }
}

.b-price__hint{
    margin-top: 37px;
    color: rgba(0, 0, 0, .4);
}


.b-price__window{
    display: none;
    position: relative;
}

.b-price__window-close{
    position: absolute;
    right: 20px;
    top: -20px;
    width: 23px;
    height: 23px;
    background: url(../images/boiler/icon-close-big.svg) no-repeat;
    opacity: .8;
    @include transition(all .15s ease);

    &:hover{
        opacity: 1;
    }
}

.price-form{
    max-width: 273px;
    margin: 0 auto;
}

.price-form__i{
    width: 48%;
    float: left;
    margin-right: 4%;
    margin-bottom: 26px;

    &:last-child{
        margin-right: 0;
    }

    .label{
        text-align: left;
        font-family: $medium;
        line-height: 1;
        margin-bottom: 9px;
    }
}

.price-form__input{
    display: block;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    font-family: $regular;
}

.price-form__btn{
    position: relative;
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 17px 15px 15px 35px;
    font-size: 18px;
    font-family: $medium;
    -webkit-font-smoothing: antialiased;

    &:after{
        content: '';
        position: absolute;
        left: 24px;
        top: 13px;
        background: url(../images/boiler/icon-price.svg) no-repeat;
        width: 17px;
        height: 24px;
    }
}

.b-price__info{
    font-family: $light;
    max-width: 741px;
    margin: 45px auto 0;
    line-height: 1.625;

    .high{
        font-family: $medium;
    }
}

.price-result-con{
    max-width: 762px;
    margin: 52px auto 0;
}

.price-result{
    position: relative;
    border: 1px solid #c7c7c7;
    border-width: 0 1px 1px 1px;
    overflow: hidden;

    &:first-child{
        border-top-width: 1px;
        border-radius: 2px 2px 0 0;
    }

    &:last-child{
        border-top-width: 1px;
        border-radius: 0 0 2px 2px;
    }
}

.price-result__l{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;

    &:after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1px;
        right: 0;
        background-color: #c7c7c7;
    }
}

.price-result__power{
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    @include transform(translate(0, -50%));
    text-align: left;

    .inner{
        max-width: 160px;
        margin: 0 auto;
    }

    .high{
        font-size: 36px;
        font-family: $light;
        -webkit-font-smoothing: antialiased;
        color: $red;
        white-space: nowrap;
    }

    .text{
        line-height: 1.125;
        font-family: $light;
    }
}

.price-result__r{
    width: 50%;
    padding: 51px 20px 51px 60px;
    margin-left: 50%;
    box-sizing: border-box;
}

.price-result__i{
    margin-bottom: 52px;
    position: relative;
    padding-left: 84px;
    font-family: $light;
    text-align: left;

    &:last-child{
        margin-bottom: 0;
    }

    .img{
        position: absolute;
        left: 0;
        top: -17px;
        width: 64px;
        height: 57px;
        background: url(../images/boiler/icon-boiler-big.png) no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }

    .title{
        line-height: 1;
        margin-bottom: 3px;
    }

    .text{
        color: $red;
    }
}

.b-price_state_show{
    .b-price__part{
        display: none;
    }

    .b-price__window{
        display: block;
    }
}

@media screen and ( max-width: $big-screen) {
    .b-price{
        padding-right: 15px;
        padding-left: 15px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: $middle-screen) {
    .b-price__title{
        font-size: 24px;
        margin-bottom: 17px;
    }

    .b-price__btn{
        font-size: 15px;

        &:before{
            top: 12px;
        }
    }

    .price-form__i{
        margin-bottom: 15px;
    }

    .price-form__input{
        height: 45px;
    }

    .price-form__btn{
        font-size: 15px;

        &:after{
            top: 11px;
        }
    }
}

@media screen and (max-width: $small-screen) {
    .b-price {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: $tab-screen) {
    .b-price__window-close{
        right: 0;
        top: -35px;
    }

    .price-result__l{
        width: 35%;
    }

    .price-result__r{
        margin-left: 35%;
        width: 65%;
        padding: 30px 20px;
    }

    .price-result__power {
        .inner{
            padding: 0 15px;
        }

        .high{
            font-size: 31px;
        }
    }
}

@media screen and (max-width: $mob-screen) {
    .price-result__l{
        position: static;
        width: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #c7c7c7;
    }

    .price-result__power{
        position: static;
        top: 0;
        @include transform(translate(0,0 ));
    }

    .price-result__r{
        margin: 0 auto;
        width: auto;
        max-width: 300px;
    }

}

