
/** first promo page **/
.b-promo{
    position: relative;
    height: 767px;
    background-color: #cccccc;
    text-align: center;
    background: url(../images/boiler/bg.jpg) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
}

.b-promo__title{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    font-size: 60px;
    line-height: 1;
    font-family: $light;
    color: rgba(255, 255, 255, .7);
    margin-top: -37px;
    -webkit-font-smoothing: antialiased;
}

@media screen and ( max-width: $big-screen) {
    .b-promo{
        padding: 0 15px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: $middle-screen) {
    .b-promo{
        height: 600px;
    }

    .b-promo__title{
        font-size: 52px;
    }
}

@media screen and (max-width: $small-screen) {
    .b-promo{
        height: 400px;
    }

    .b-promo__title{
        font-size: 40px;
    }
}

@media screen and (max-width: $tab-screen) {
    .b-promo{
        height: 400px;
        -webkit-font-smoothing: auto;
    }

    .b-promo__title{
        font-size: 30px;
    }
}