
/** request **/
.b-request{
    background: url(../images/boiler/bg-2.jpg) no-repeat;
    background-position: center top;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
}

.b-request__inner{
    padding-top: 185px;
    padding-bottom: 178px;
}

.b-request__title{
    margin-bottom: 59px;
    font-size: 28px;
    line-height: 1.214;
    font-family: $light;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;

    .high{
        display: inline-block;
        color: $red;
    }
}

.b-request__list{
    max-width: 876px;
    margin: 0 auto 24px;
    text-align: justify;

    &:after{
        content: '';
        display: inline-block;
        vertical-align: top;
        width: 100%;
        overflow: hidden;
        visibility: hidden;
        height: 0;
    }
}

.b-request__i{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    position: relative;
    box-sizing: border-box;
    padding-left: 72px;
    font-size: 16px;
    line-height: 1.187;
    text-align: left;
    font-family: $light;
    color: rgba(255, 255, 255, .8);

    &:before{
        content: '';
        position: absolute;
        left: 0;
        top: 2px;
        width: 52px;
        height: 52px;
        background: url(../images/boiler/icon-check.svg) no-repeat;
    }

    &:last-child{
        width: 27%;
    }
}

.b-request__btn{
    font-family: $light;
    padding: 27px 15px 25px;
    min-width: 280px;
    text-align: center;

    .high{
        display: block;
        font-size: 21px;
        line-height: 1;
        font-family: $medium;
        margin-bottom: 6px;
        text-transform: uppercase;
        -webkit-font-smoothing: antialiased;
    }
}

.b-request__hint{
    margin-top: 50px;
    color: rgba(255, 255, 255, .5);
    font-family: $light;

    .high{
        font-family: $medium;
        font-size: 20px;
        display: block;
        margin-top: 2px;
        -webkit-font-smoothing: antialiased;
    }
}

@media screen and ( max-width: $big-screen) {
    .b-request{
        padding: 0 15px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: $middle-screen) {
    .b-request__inner{
        padding-bottom: 120px;
    }

    .b-request__title{
        font-size: 24px;
        margin-bottom: 52px;
    }

    .b-request__list{
        max-width: 800px
    }

    .b-request__i{
        font-size: 14px;
    }

    .b-request__btn{
        font-size: 14px;
        padding-top: 20px;
        padding-bottom: 18px;

        .high{
            font-size: 18px;
        }
    }

    .b-request__hint{
        margin-top: 35px;

        .high{
            font-size: 17px;
        }
    }
}

@media screen and (max-width: 900px) {
    .b-request__list{
        max-width: 270px;
        text-align: left;
        margin-bottom: 40px;

        &:after{
            display: none;
        }
    }

    .b-request__i{
        display: block;
        width: auto !important;
        margin-bottom: 20px;
        padding-left: 45px;
        min-height: 42px;

        &:before{
            top: 6px;
            width: 30px;
            height: 30px;
        }

        &:last-child{
            padding-top: 15px;
        }
    }

    .b-request__btn{
        min-width: 250px
    }
}
