
/** slider **/
.b-slider-con{
    position: relative;
    z-index: 3;
}

.b-slider{
    max-width: 1193px;
    margin: 0 auto;
    padding-bottom: 60px;

    .slick-dots{
        text-align: center;

        li{
            display: inline-block;
            vertical-align: top;
        }

        button{
            display: inline-block;
            vertical-align: top;
            margin: 0 5px;
            width: 13px;
            height: 13px;
            border-radius: 13px;
            border: 1px solid rgba(0, 0, 0, .2);
            background: none;
            color: transparent;
            font-size: 8px;

            &:focus{
                outline: none !important;
            }
        }

        .slick-active button{
            background: #4e5158;
        }
        
    }
}

.b-slider__i{
    padding-top: 75px;
    padding-bottom: 0;
    text-align: left;
}

.b-slider__content{
    min-height: 400px;
}

.b-slide__title{
    margin-bottom: 18px;
    font-size: 48px;
    line-height: 1.08;
    font-family: $light;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -2px;
}

.b-slide__img.type-vulkan{
    display: block;
    background: url(../images/boiler/icon-vulcan.svg) no-repeat;
    width: 232px;
    height: 24px;
    margin-bottom: 35px;
}

.b-slide__text{
    margin-bottom: 37px;
    max-width: 400px;
    line-height: 1.625;
    font-family: $medium;
    color: $light-dark;
}

.b-slide__link{
    position: relative;
    font-size: 18px;
    font-family: $medium;

    &:after{
        content: '';
        position: absolute;
        top: 4px;
        right: -24px;
        width: 8px;
        height: 12px;
        background: url(../images/boiler/icon-arrow.svg) no-repeat;
    }
}

.b-slider-img{
    position: absolute;
    right: 18px;
    top: 0;
    bottom: 152px;
    width: 300px;
}

.b-slider-img__img-1,
.b-slider-img__img-2{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 697px;
    height: 755px;
    background: url(../images/boiler/slider.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

@media screen and ( max-width: $big-screen) {
    .b-slider-con{
        padding: 0 15px;
        box-sizing: border-box;
    }

    .b-slider-img__img-1,
    .b-slider-img__img-2{
        width: 550px;
        height: 597px;
    }
}

@media screen and (max-width: $middle-screen) {
    .b-slide__title{
        font-size: 42px;
    }

    .b-slide__link{
        font-size: 15px;
    }

    .b-slide__text{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: $small-screen) {
    .b-slider__content{
        min-height: 300px !important;
    }

    .b-slider-img__img-1,
    .b-slider-img__img-2{
        width: 350px;
        height: 380px;
        right: 80px;
        bottom: -20px;
    }
}

@media screen and (max-width: 900px) {
    .b-slider-img__img-1,
    .b-slider-img__img-2{
        right: 0;
        width: 280px;
        height: 304px;
    }
}

@media screen and (max-width: $tab-screen) {

    .b-slider__content{
        min-height: 0 !important;
        padding-bottom: 30px;
    }

    .b-slider-img{
        display: none;
    }
}
