<div class="b-full type-grey">
    <div class="b-center">
        <div class="b-fmenu">
            <div class="b-fmenu__col">
                <div class="b-fmenu__title">
                    Котельные
                </div>
                <a class="b-fmenu__i" data-target href="/boiler.html#kot-modul">
                    Модульные котельные
                </a>
                <a class="b-fmenu__i" data-target href="/boiler.html#kot-par">
                    Паровые котельные
                </a>
                <a class="b-fmenu__i" data-target href="/boiler.html#kot-water">
                    Водогрейные котельные
                </a>
                <a class="b-fmenu__i" data-target href="/boiler.html#kot-prom">
                    Промышленные котельные
                </a>
                <a class="b-fmenu__i" data-target href="/boiler.html#kot-roof">
                    Крышные котельные
                </a>
            </div>
            <div class="b-fmenu__col">
                <div class="b-fmenu__title">
                    Мини-ТЭЦ
                </div>
                <a class="b-fmenu__i" href="#">
                    Газопоршневая ТЭЦ
                </a>
                <a class="b-fmenu__i" href="#">
                    Газотурбинная ТЭЦ
                </a>
                <a class="b-fmenu__i" href="#">
                    Мини ТЭЦ
                </a>
                <a class="b-fmenu__i" href="#">
                    ДГУ
                </a>
            </div>
            <div class="b-fmenu__col">
                <div class="b-fmenu__title">
                    Услуги
                </div>
                <a class="b-fmenu__i" href="#">Функция генерального подрядчика </a>
                <a class="b-fmenu__i" href="#">Энергоаудит </a>
                <a class="b-fmenu__i" href="#">Расчет тепла и топлива </a>
                <a class="b-fmenu__i" href="#">Лимиты на газ </a>
                <a class="b-fmenu__i" href="#">Экономическое обоснование строит </a>
                <a class="b-fmenu__i" href="#">Проектирование котельных </a>
                <a class="b-fmenu__i" href="#">Поставка котельного оборудования </a>
                <a class="b-fmenu__i" href="#">Строительство котельных </a>
                <a class="b-fmenu__i" href="#">Расчет стоиомсти котельной </a>
                <a class="b-fmenu__i" href="#">Реконструкция котельной </a>
                <a class="b-fmenu__i" href="#">Обслуживание котельных </a>
                <a class="b-fmenu__i" href="#">Пусконаладочные работы котельной </a>
            </div>
            <div class="b-fmenu__col">
                <div class="b-fmenu__title">
                    Готовые объекты
                </div>
                <a class="b-fmenu__i" href="#">
                    Модульные котельные
                </a>
                <a class="b-fmenu__i" href="#">Промышленные котельные</a>
                <a class="b-fmenu__i" href="#">Комбинированные котельные</a>
                <a class="b-fmenu__i" href="#">Автономная элекростанция</a>
                <a class="b-fmenu__i" href="#">
                    Инженерная система
                </a>
            </div>
            <div class="b-fmenu__col b-fmenu__col-info ">
                <div class="b-fmenu__title">
                    Компания
                </div>
                <a class="b-fmenu__i b-fmenu__i-big" href="#">
                    События
                </a>
                <a class="b-fmenu__i b-fmenu__i-big" href="#">
                    Блог
                </a>

                <a class="btn-simple btn-primary b-fmenu__btn" href="#">
                    Конфигуратор
                </a>
            </div>
        </div>
    </div>
</div>

<div class="b-full type-dark">
    <div class="b-center b-foo">

        <div class="b-foo__sharing">
            <a class="b-sharing__vk" href="#"></a>
            <a class="b-sharing__fb" href="#"></a>
            <a class="b-sharing__gp" href="#"></a>
            <a class="b-sharing__inst" href="#"></a>
        </div>

        <div class="b-foo__email">
            <a class="link-white" href="mailto:bmk-vulkan@gmail.com">bmk-vulkan@gmail.com</a>
        </div>

        <div class="b-foo__phone">
            <a class="link-red" href="tel:88007003002">8 (800) 700-30-02</a> <br/>
            Бесплатно по всей России
        </div>

        <div class="b-foo__copy">
            © 2016 Вулкан
        </div>

    </div>
</div>