
<div class="b-head__help"></div>
<div class="b-head__fixed" data-header-fixed>
    <div class="b-center b-header__inner">
        <a class="b-head__phone" href="tel:88007003002">8 (800) 700-30-02</a>
        <a class="b-head__conf btn-simple btn-default" href="#">Конфигуратор</a>

        <div class="b-head__toggle" data-toggle-menu>
            <i class="icon-toggle"></i>
        </div>
        <a class="b-head__logo" href="/"></a>
        <div class="b-head__menu">
            <ul>
                <li>
                    <a href="boiler.html">Котельные</a>
                </li>
                <li>
                    <a href="#">ТЭЦ</a>
                </li>
                <li>
                    <a href="#">Услуги</a>
                </li>
                <li>
                    <a href="#">Готовые объекты</a>
                </li>
                <li>
                    <a href="#">Компания</a>
                </li>
            </ul>
        </div>
    </div>
</div>
