
.input-simple{
    border: 1px solid #c6c6c6;
    border-radius: 4px;
    background: #ffffff;
    height: 52px;
    font-size: 28px;
    font-family: $medium;
    text-align: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 8px;
    @include transition(all .15s ease);

    &:focus{
        border-color: #dddddd;
        outline: none !important;
    }
}

.btn-simple {
    display: inline-block;
    padding: 4px 18px 6px;
    margin-bottom: 0;
    font-family: $medium;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
    border: 1px solid transparent;
    text-decoration: none !important;
    @include transition(all .15s ease);

    &.focus,
    &:focus{
        outline: none !important;
    }

    &.active,
    &:active{
        background-image: none;
        outline: 0;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] &{
        pointer-events: none;
        cursor: not-allowed;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: transparent !important;
        opacity: 1;
    }
}

/*== default ==*/
.btn-default {
    color: rgba(255,255,255, .7) !important;
    background: none;
    border-color: rgba(255,255,255, .5);

    &:hover{
        color: rgba(255,255,255, .9) !important;
        border-color: rgba(255,255,255, .8);
    }

    &.active,
    &:active{
        color: rgba(255,255,255, 1) !important;
        border-color: rgba(255,255,255, 1);
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] &{
        color: #fff !important;
        background-color: #a5c8f1 !important;
        border-color: #a5c8f1 !important;
    }
}

.btn-primary {
    color: #f16b3a !important;
    background: none;
    border-color: #f39a65;

    &:hover{
        color: $red;
        border-color: $red;
    }

    &.active,
    &:active{
        color: $red;
        border-color: $red;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] &{
        color: #fff !important;
        background-color: #a5c8f1 !important;
        border-color: #a5c8f1 !important;
    }
}

.btn-red {
    color: #fff !important;
    background: #f16b3a;
    border-color: #f16b3a;

    &:hover{
        opacity: .9;
    }

    &.active,
    &:active{
        opacity: 1;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] &{
        background: #959595 !important;
        border-color: #959595;
    }
}

/* links */
@mixin link-simple{
    display: inline-block;
    line-height: 1;
    text-decoration: none !important;
    @include transition(all .15s ease);
    border-bottom: 1px solid transparent;
}

.link-white{
    @include link-simple();
    color: rgba(255, 255, 255, .8);
    
    &:hover{
        color: rgba(255,255,255, 1);
    }
}


.link-red{
    @include link-simple();
    color: #f05b20 !important;

    &:hover{
        color: #f05b20 !important;
        border-bottom-color: #f05b20;
    }

    &.disabled{
        color: black !important;
        cursor: default;
        border-bottom: none !important;
    }
}

.link-grey{
    @include link-simple();
    color: rgba(0,0,0, .4) !important;
    border-bottom-color: rgba(0,0,0, .4);
    
    &:hover{
        color: rgba(0,0,0, .6) !important;
        border-bottom-color: rgba(0,0,0, .6);
    }

    &:active{
        color: rgba(0,0,0, .8) !important;
        border-bottom-color: rgba(0,0,0, .8);
    }
    
    &.disabled{
        color: black !important;
        cursor: default;
        border-bottom: none !important;
    }
}

@mixin link-m{
    display: inline;
    text-decoration: none !important;
    @include transition(all .15s ease);
    border-bottom:1px solid transparent;
}


.link-mred{
    @include link-m();
    color: #f05b20 !important;

    &:hover{
        color: #f05b20 !important;
        border-bottom-color: #f05b20;
    }
}

// Animation
@-webkit-keyframes shake {
    0%, 100%{
        -webkit-transform: translate(0, 0);
    }

    10%{
        -webkit-transform: translate(-12px, 0);
    }

    30%{
        -webkit-transform: translate(10px, 0);
    }

    50%{
        -webkit-transform: translate(-8px, 0);
    }

    70%{
        -webkit-transform: translate(6px, 0);
    }

    90%{
        -webkit-transform: translate(-4px, 0);
    }
}

@-moz-keyframes shake {
    0%, 100%{
        -moz-transform: translate(0, 0);
    }

    10%{
        -moz-transform: translate(-12px, 0);
    }

    30%{
        -moz-transform: translate(10px, 0);
    }

    50%{
        -moz-transform: translate(-8px, 0);
    }

    70%{
        -moz-transform: translate(6px, 0);
    }

    90%{
        -moz-transform: translate(-4px, 0);
    }
}


@keyframes shake {
    0%, 100%{
        transform: translate(0, 0);
    }

    10%{
        transform: translate(-12px, 0);
    }

    30%{
        transform: translate(10px, 0);
    }

    50%{
        transform: translate(-8px, 0);
    }

    70%{
        transform: translate(6px, 0);
    }

    90%{
        transform: translate(-4px, 0);
    }
}

.b-tooltip{
    position: relative;
    width: 195px;
    padding: 25px 25px 30px 31px;
    text-align: left;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 18px;
    color: $light-dark;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0,0,0, .2);
    background-color: #ffffff;
    z-index: 3;

    &:before{
        content: '';
        position: absolute;
        left: 50%;
        margin-left: -8px;
        bottom: -16px;
        width: 0;
        height: 0;
        border-top: 16px solid #ccc;
        border-right: 16px solid transparent;
    }

    &:after{
        content: '';
        position: absolute;
        left: 50%;
        margin-left: -7px;
        bottom: -14px;
        width: 0;
        height: 0;
        border-top: 14px solid #fff;
        border-right: 14px solid transparent;
    }
}