
$open: 'Open Sans', Arial, sans-serif;
$pt: 'PT Sans', Arial, sans-serif;

$regular: "MuseoSansRegular", Arial, sans-serif;
$light: "MuseoSansLight", Arial, sans-serif;
$bold: "MuseoSansBold", Arial, sans-serif;
$medium: "MuseoSansMedium", Arial, sans-serif;


$red: #f05b20;
$dark: #22252e;
$light-dark: rgba(0,0,0, .8);
$grey: rgba(0,0,0, .4);

$big-screen: 1350px;
$middle-screen: 1180px;
$small-screen: 1020px;
$tab-screen: 740px;
$mob-screen: 470px;