@import "core/vars",
        "core/mixins",
        "core/fonts";


@import "core/reset",
        "core/scaffolding",
        "core/helpers",
        "core/controls",
        "core/sprite";

body{
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.3;
    color: #22252e;
    font-family: $open;
}



/*== Layout ==*/
@import "./layout/header",
        "./layout/footer";

.b-wrap{
    overflow: hidden;
}

.b-center{
    max-width: 1244px;
    margin: 0 auto;
}

.b-full{
    &.type-dark{
        background-color: #22252e;
    }
    
    &.type-grey{
        background-color: #f9f9f9;
    }
}

/* == Pages ==*/
@import "./pages/front-page";
@import "./pages/boiler-page";

@media screen and ( max-width: $big-screen) {
    .b-center{
        padding: 0 15px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: $middle-screen) {
    body{
        font-size: 14px;
    }
}