

/** feedback **/
.b-feedback {
    padding-top: 91px;
    padding-bottom: 70px;
    text-align: center;
}

.b-feedback__title {
    margin-bottom: 36px;
    font-size: 28px;
    line-height: 1.214;
    font-family: $light;
}

.b-feedback__btn {
    font-size: 18px;
    font-family: $light;
    line-height: 1;
    padding: 17px 15px 15px;
    min-width: 163px;
}

.b-feedback__hint {
    margin: 34px auto 0;
    line-height: 1.625;
    font-family: $medium;
    color: #a3a4a7;
}

/** contacts **/
.b-contacts {
    padding-top: 103px;
    padding-bottom: 137px;
    max-width: 1020px;
    margin: 0 auto;
}

.b-contacts__title {
    font-family: $light;
    font-size: 48px;
    line-height: 1;
    margin-bottom: 57px;
    letter-spacing: -2px;
}

.b-contacts__content {
    position: relative;
}

.b-adress {
    @include clearfix();
}

.b-adress__tabs {
    float: left;
    width: 47.3%;
    margin-right: 3.8%;
}

.b-adress__map {
    position: relative;
    overflow: hidden;
    min-height: 561px;
    background: #ccc;
}

[class^="b-adress__map-item"]{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &.state_show{
        z-index: 5;
    }
}

.b-adress__link {
    padding: 33px 20px 25px 40px;
    margin-bottom: 10px;
    cursor: pointer;
    @include transition(all .15s ease);
    border-radius: 4px;
    border: 1px solid transparent;
    text-align: left;

    .title {
        display: block;
        font-size: 20px;
        line-height: 1;
        margin-bottom: 19px;
        font-family: $medium;
    }

    .text {
        line-height: 1.625;
        font-family: $light;
    }

    &:hover,
    &.selected {
        border-color: $red;
    }
}

@media screen and ( max-width: $big-screen) {
    .b-feedback-con,
    .b-contacts-con{
        padding: 0 15px;
        box-sizing: border-box;
    }
}


@media screen and (max-width: $middle-screen) {
    .b-feedback,
    .b-contacts{
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .b-feedback__title{
        font-size: 24px;
        margin-bottom: 20px;
    }

    .b-contacts__title{
        font-size: 42px;
        margin-bottom: 50px;
    }

    .b-adress__link{
        padding: 27px 20px 25px 30px;

        .title{
            font-size: 17px;
            margin-bottom: 14px;
        }
    }

    .b-adress__map{
        min-height: 483px;
    }
}


@media screen and (max-width: $small-screen) {
    .b-feedback,
    .b-contacts{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .b-adress__link {
        padding: 22px 15px 20px 25px;
    }

    .b-adress__tabs{
        width: 52%;
        margin-right: 3%;
    }
}

@media screen and (max-width: $tab-screen) {
    .b-contacts__title{
        font-size: 36px;
        margin-bottom: 40px;
    }

    .b-adress__tabs{
        width: auto;
        float: none;
        margin-right: 0;
        margin-bottom: 20px;
        overflow: hidden;
    }

    .b-adress__link{
        display: block;
        float: left;
        width: 32%;
        margin-right: 2%;
        box-sizing: border-box;
        padding: 15px;
        min-height: 190px;

        &:last-child{
            margin-right: 0;
        }
    }

    .b-adress__map{
        min-height: 300px;
    }
}

@media screen and (max-width: 580px) {
    .b-adress__link{
        float: none;
        margin-bottom: 10px;
        width: auto;
        min-height: 0;
    }

    .b-adress__map{
        min-height: 200px;
    }

    .b-adress__tabs{
        margin-bottom: 0;
    }
}