

/** honor **/
.b-honors-con {
    padding-top: 103px;
    padding-bottom: 74px;
    text-align: center;
}

.b-honors-con_show{
    .b-honors{
        display: none;
    }

    .o-honor{
        display: block;
    }
}

.b-honors {

}

.b-honors__icon {
    display: block;
    margin: 0 auto 44px;
    width: 87px;
    height: 87px;
    background: url(../images/main/icon-honor.svg) no-repeat;
}

.b-honors__text {
    max-width: 610px;
    margin: 0 auto 37px;
    font-family: $light;
    font-size: 28px;
    line-height: 1.214;
}

.b-honors__link {
    font-family: $light;
    font-size: 19px;
}

.o-honor {
    display: none;
    text-align: center;
}

.o-honor__title {
    font-size: 28px;
    line-height: 1;
    margin-bottom: 63px;
    font-family: $medium;
    margin-left: -37px;

    &.type-dost{
        margin-bottom: 42px;
    }
}

.o-honor__part {
    max-width: 864px;
    margin: 0 auto;

    &:first-child {
        padding-bottom: 68px;
        margin-bottom: 75px;
        border-bottom: 1px solid #e0e1e0;
    }
}

.o-honor__list {
    font-size: 0;
    text-align: justify;

    &:after {
        content: '';
        display: inline-block;
        width: 100%;
        vertical-align: top;
        height: 0;
        visibility: hidden;
    }
}

.o-honor__item {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding-top: 226px;
    width: 26%;
    margin-bottom: 8px;
    text-align: left;

    &:nth-child(3n+3) {
        margin-right: 0;
    }
}

.o-honor__img {
    position: absolute;
    left: 0;

    &.type-1 {
        width: 112px;
        height: 200px;
        top: 2px;
        left: 21px;
        background: url(../images/honors/honor_1.png) no-repeat;
    }

    &.type-2 {
        width: 112px;
        height: 209px;
        top: 1px;
        left: 27px;
        background: url(../images/honors/honor_2.png) no-repeat;
    }

    &.type-3 {
        width: 124px;
        height: 203px;
        left: 6px;
        top: 1px;
        background: url(../images/honors/honor_3.png) no-repeat;
    }

    &.type-4 {
        width: 127px;
        height: 130px;
        top: 79px;
        left: 15px;
        background: url(../images/honors/honor_4.png) no-repeat;
    }

    &.type-5 {
        width: 150px;
        height: 220px;
        top: -12px;
        left: 6px;
        background: url(../images/honors/honor_5.png) no-repeat;
    }

    &.type-6 {
        width: 133px;
        height: 133px;
        top: 74px;
        left: 6px;
        background: url(../images/honors/honor_6.png) no-repeat;
    }
}

.o-honor__text {
    font-size: 16px;
    line-height: 1.625;
    font-family: $light;
}

.o-honor__bl {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 47%;
    margin-bottom: 72px;
}

.o-honor__round {
    position: absolute;
    left: 0;
    top: 0;
    width: 116px;
    height: 116px;
    border-radius: 116px;
    border: 1px solid #cacaca;
    overflow: hidden;

    &:before{
        content: '';
        position: absolute;
        -webkit-background-size: cover !important;
        background-size: cover !important;
    }

    &.type-1:before{
        background: url(../images/honors/hon_1.png) no-repeat;
        width: 94px;
        height: 65px;
        left: 11px;
        top: 26px;
    }

    &.type-2:before{
        background: url(../images/honors/hon_2.png) no-repeat;
        width: 85px;
        height: 69px;
        left: 16px;
        top: 24px;
    }

    &.type-3:before{
        background: url(../images/honors/hon_3.png) no-repeat;
        width: 55px;
        height: 70px;
        left: 30px;
        top: 20px;
    }

    &.type-4:before{
        background: url(../images/honors/hon_4.png) no-repeat;
        width: 85px;
        height: 36px;
        left: 16px;
        top: 42px;
    }
}

.o-honor__content {
    padding-left: 157px;
    font-size: 16px;
    line-height: 1.625;
    font-family: $light;
    text-align: left;
}

@media screen and ( max-width: $big-screen) {
    .o-honor__title{
        margin-left: 0;
    }

    .b-honors-con{
        padding: 50px 15px 50px;
        box-sizing: border-box;
    }
}

@media screen and ( max-width: $middle-screen) {
    .b-honors__icon{
        width: 68px;
        height: 68px;
        margin-bottom: 30px;
    }

    .b-honors__text{
        font-size: 22px;
        margin-bottom: 20px;
    }

    .b-honors__link{
        font-size: 16px;
    }

    .o-honor__text{
        font-size: 14px;
    }

    .o-honor__round{
        top: -12px;
    }

    .o-honor__content{
        font-size: 14px;
        padding-left: 140px;
    }
}

@media screen and ( max-width: $tab-screen) {
    .b-honors__icon{
        width: 54px;
        height: 54px;
        margin-bottom: 20px;
    }

    .b-honors__text{
        font-size: 18px;
        line-height: 1.3;
        max-width: 450px;
    }

    .o-honor__part:first-child{
        padding-bottom: 30px;
        margin-bottom: 50px;
    }

    .o-honor__title{
        margin-bottom: 35px;
    }

    .o-honor__list{
        text-align: center;
    }

    .o-honor__item{
        min-width: 220px;
        margin: 0 15px 40px !important;
    }

    .o-honor__img{
        left: 50% !important;
        @include transform(translate(-50%, 0))
    }

    .o-honor__text{
        text-align: center;
    }

    .o-honor__list.type-dost{
        max-width: 450px;
        margin: 0 auto;
    }

    .o-honor__bl{
        display: block;
        width: auto;
        min-height: 120px;
        margin-bottom: 40px;

        &:last-child{
            margin-bottom: 0;
        }
    }
}

@media screen and ( max-width: 560px) {
    .o-honor__list.type-nag{
        max-width: 450px;
    }

    .o-honor__item:nth-child(1){
        padding-top: 210px;
    }

    .o-honor__item:nth-child(2){
        padding-top: 212px;
    }

    .o-honor__item:nth-child(3){
        padding-top: 214px;
    }

    .o-honor__img.type-4{
        top: 0;
    }

    .o-honor__item:nth-child(4){
        padding-top: 137px;
    }

    .o-honor__img.type-5{
        top: 0;
    }

    .o-honor__item:nth-child(5){
        padding-top: 230px;
    }

    .o-honor__img.type-6{
        top: 0;
    }

    .o-honor__item:nth-child(6){
        padding-top: 141px;
    }
}
