


/** part **/
.b-part {
    padding-top: 104px;
    padding-bottom: 57px;
    text-align: center;
}

.b-part__icon {
    display: block;
    margin: 0 auto 28px;
    width: 89px;
    height: 89px;
    background: url(../images/main/icon-part.svg) no-repeat;
}

.b-part__title {
    font-size: 64px;
    line-height: 1;
    font-family: $regular;
    margin-bottom: 49px;
}

.b-part__text {
    max-width: 612px;
    line-height: 1.625;
    font-family: $light;
    margin: 0 auto;
    color: $light-dark;
}

.b-part-img {
    min-height: 495px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;

    &.type-1 {
        background-image: url(../images/backgrounds/bg_1.jpg);
    }

    &.type-2 {
        background-image: url(../images/backgrounds/bg_2.jpg);
    }

    &.type-3 {
        background-image: url(../images/backgrounds/bg_3.jpg);
    }

    &.type-4 {
        background-image: url(../images/backgrounds/bg_4.jpg);
    }
}

.b-part__list {
    max-width: 820px;
    margin: 58px auto;
    text-align: justify;

    &:after {
        content: '';
        display: inline-block;
        width: 100%;
        overflow: hidden;
        height: 0;
        visibility: hidden;
    }
}

.b-partitem {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    text-align: left;
}

.b-partitem__img {
    height: 246px;
    margin-bottom: 27px;
    background-color: #e8e9ea;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
}

.b-partitem__logo {
    display: inline-block;
    vertical-align: top;

    &.type-loga {
        width: 117px;
        height: 39px;
        background: url(../images/main/icon-part-1.svg) no-repeat;
    }

    &.type-power {
        width: 123px;
        height: 39px;
        background: url(../images/main/icon-part-2.svg) no-repeat;
    }

    &.type-pump {
        width: 116px;
        height: 39px;
        background: url(../images/main/icon-part-3.svg) no-repeat;
    }
}

.b-partitem__title {
    margin-top: 43px;
    margin-bottom: 15px;
    font-size: 27px;
    line-height: 1;
    font-family: $medium;
}

.b-partitem__text {
    line-height: 1.625;
    font-family: $light;
    color: $light-dark;
}

@media screen and (max-width: $middle-screen) {
    .b-part{
        padding: 0 15px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: $middle-screen) {
    .b-part{
        padding-top: 70px;
    }

    .b-part__icon{
        width: 75px;
        height: 75px;
    }

    .b-part__title{
        font-size: 56px;
        margin-bottom: 35px;
    }

    .b-part-img{
        min-height: 400px;
    }

    .b-partitem__title{
        font-size: 23px;
        margin-bottom: 12px;
    }
}

@media screen and (max-width: $small-screen) {
    .b-part{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .b-part__icon{
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
    }

    .b-part__title{
        font-size: 48px;
        margin-bottom: 25px;
    }

    .b-part-img{
        min-height: 340px;
    }

    .b-part__list{
        text-align: left;
        max-width: 450px;
        margin-bottom: 0;
    }

    .b-partitem{
        display: block;
        width: auto;
        margin-bottom: 30px;
        @include clearfix();

        &:last-child{
            margin-bottom: 0;
        }
    }

    .b-partitem__img{
        float: left;
        margin-bottom: 0;
        margin-right: 20px;
        width: 150px;
        height: 150px;
    }

    .b-partitem__title {
        margin-bottom: 7px;
        margin-top: 25px;
    }

    .b-partitem__content{
        overflow: hidden;
    }

    .b-partitem__logo{
        height: 30px !important;
        width: 91px !important;
    }
}

@media screen and (max-width: $tab-screen) {
    .b-part__title{
        font-size: 36px;
        margin-bottom: 15px;
    }

    .b-part-img{
        min-height: 200px;
    }

    .b-part__icon{
        width: 35px;
        height: 35px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: $tab-screen) {
    .b-partitem__title{
        font-size: 20px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: $mob-screen) {
    .b-partitem__img{
        width: 100px;
        height: 100px;
    }
}

