/** welcome **/
.b-wel {
    padding-top: 51px;
    padding-bottom: 77px;
}

.b-wel__content {
    position: relative;
    padding-left: 318px;
    padding-top: 14px;
}

.b-wel__title {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 64px;
    line-height: 1;
    font-family: $medium;
    letter-spacing: -1px;

    &:after {
        content: '';
        position: absolute;
        right: -82px;
        top: 34px;
        height: 2px;
        width: 43px;
        background-color: $red;
    }
}

.b-wel__descr {
    margin-bottom: 85px;
    max-width: 532px;
    font-family: $light;
    font-size: 28px;
    line-height: 1.187;
}

.b-wel__list {
    text-align: justify;
    max-width: 873px;

    &:after {
        content: '';
        display: inline-block;
        width: 100%;
        overflow: hidden;
        min-height: 0;
    }
}

.b-wel__i {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding-top: 76px;
    text-align: left;
    width: 30%;

    &:nth-child(1) {
        width: 22%;

        .title {
            letter-spacing: -3px;
        }
    }

    &:nth-child(2) {
        width: 30%;
    }

    &:nth-child(3) {
        width: 30%;
    }

    &:before {
        content: '';
        position: absolute;
    }

    &.type-year:before {
        left: 0;
        top: 3px;
        background: url(../images/main/icon-main-1.svg) no-repeat;
        width: 46px;
        height: 56px;
    }

    &.type-people:before {
        left: 5px;
        top: 5px;
        background: url(../images/main/icon-main-2.svg) no-repeat;
        width: 62px;
        height: 48px;
    }

    &.type-object:before {
        left: 5px;
        top: 0;
        background: url(../images/main/icon-main-3.svg) no-repeat;
        width: 46px;
        height: 50px;
    }

    .title {
        font-family: $light;
        font-size: 48px;
        line-height: 1;
        margin-bottom: 12px;
        letter-spacing: -2px;
        white-space: nowrap;
    }

    .text {
        font-family: $medium;
        line-height: 1.625;
        color: $light-dark;
    }
}

@media screen and (max-width: $middle-screen) {
    .b-wel__title{
        font-size: 56px;

        &:after{
            right: -73px;
        }
    }

    .b-wel__content{
        padding-left: 280px;
    }

    .b-wel__descr{
        font-size: 24px;
        margin-bottom: 56px;
    }

    .b-wel__i .title{
        font-size: 42px;
        margin-bottom: 6px;
    }
}

@media screen and (max-width: $small-screen) {
    .b-wel__descr{
        font-size: 22px;
    }

    .b-wel{
        padding-top: 41px;
        padding-bottom: 30px;
    }

    .b-wel__i {
        display: block;
        padding-top: 0;
        padding-left: 82px;
        margin-bottom: 30px;
        width: auto !important;

        .title{
            font-size: 38px;
        }

        &.type-people:before{
            left: -4px;
        }
    }
}

@media screen and (max-width: $tab-screen) {
    .b-wel__title{
        position: relative;
        margin-bottom: 10px;
        font-size: 46px;

        &:after{
            display: none;
        }
    }

    .b-wel__content{
        padding-left: 0;
        max-width: 450px;
        margin: 0 auto;
    }

    .b-wel__descr{
        margin-bottom: 40px;
        font-size: 18px;
    }

    .b-wel__i{
        padding-left: 55px;

        &.type-year:before{
            width: 30px;
            height: 40px;
        }

        &.type-people:before{
            width: 41px;

        }

        &.type-object:before{
            width: 30px;

        }
    }
}

